@model IEnumerable<DrivingSclApp.Areas.Indexes.Data.PersonVM>

@{
    ViewBag.Title = "الأشخاص";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #grid {
        width: 2250px;
    }

    .alert-message {
        position: fixed;
        top: 30px;
        right: 16px;
        width: fit-content;
    }
</style>

<!-- Header -->
<div class="panel panel-default panel-search" style="width:2250px">
    <div class="panel-heading">
        <a class="h4" aria-expanded="false" aria-controls="filter_body" href="#filter_body" data-toggle="collapse">الأشخاص</a>
    </div>
    @*<div id="filter_body" class="collapse">
            <div class="panel-body">

            </div>
        </div>*@
</div>

<!-- Messages -->
<div id="success_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#"></a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span style="color:green" class="bf-messages">
                <label id="labelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="error_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-danger" style="padding:15px;margin-top:10px;">
        <span class="bf-messages">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span style="color:red" class="bf-messages">
                <label id="errlabelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="deleteWindow">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("DeleteWindow")
        .Title("تأكيد حذف")
        .Visible(false)
        .Modal(true)
        .HtmlAttributes(new { style = "text-align:center;" })
        .Content(@<text>
            <div class="container-fluid" style="text-align:center;">
                <h3>هل أنت متأكد من الحذف؟</h3>
                <div class="row">
                    <button id="YesDelete" class="btn btn-default" style="width:100px;">نعم</button>
                    <button id="NoDelete" class="btn btn-default" style="width:100px;">لا</button>
                </div>
                <span id="validationRFC" class="k-label alert-danger"></span>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Resizable() //Enable resizing of the window
        .Width(300)  //Set width of the window
        .Height(150)
        )
    </div>
</div>

<!-- Search Bars -->
<div>
    <div class="container-fluid">
        <div class="row" style="text-align:center;">
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("الرقم الوطني", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().NumericTextBox()
                        .Name("NatnoSearch")
                        .HtmlAttributes(new { placeholder = "أدخل الرقم الوطني", required = "required", validationmessage = "*", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("الاسم", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().TextBox()
                        .Name("FnameSearch")
                        .HtmlAttributes(new { placeholder = "أدخل الاسم", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("الكنية", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().TextBox()
                        .Name("LnameSearch")
                        .HtmlAttributes(new { placeholder = "أدخل الكنية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("اسم الاب", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().TextBox()
                        .Name("FatherSearch")
                        .HtmlAttributes(new { placeholder = "أدخل اسم الاب", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("الام", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().TextBox()
                        .Name("MotherSearch")
                        .HtmlAttributes(new { placeholder = "أدخل اسم الام", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    @Html.Label("الميلاد", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().DatePicker()
                        .Name("BdateSearch")
                        .HtmlAttributes(new { placeholder = "أدخل الميلاد", required = "required", validationmessage = "*", style = "width: 100%;text-align:center;" })
                    )
                </div>
            </div>
        </div>
        <div style="margin:10px"></div>
        <div class="row" style="text-align:center;">
            @(Html.Kendo().Button()
                .Name("btnSearch")
                .Content("بحث")
                .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
                .Events(e => e.Click("btnSearch_Click"))
            )
        </div>
        <div style="margin:10px"></div>
    </div>
</div>

<!-- Kendo -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Grid<DrivingSclApp.Areas.Indexes.Data.PersonVM>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(command => { command.Custom("تعديل").Click("editDetails").HtmlAttributes(new { @class = "btn btn-primary" }); command.Custom("حذف").Click("Destroy").HtmlAttributes(new { @class = "btn btn-danger" }); }).Title("العمليات").HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.NATNO).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.FNAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.LNAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.FATHER).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.MOTHER).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.CIVILLOC).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.ACTADDRESS).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.ADDRESS).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.PHONE).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.MOBILE).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.BDATED).Visible(false);
                columns.Bound(c => c.BDATEM).Visible(false);
                columns.Bound(c => c.BDATEY).Visible(false);
                columns.Bound(c => c.BDATE).ClientTemplate("#= kendo.toString(kendo.parseDate(BDATE), 'yyyy/MM/dd') #").HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.IDCARDNO).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.IDCARDDAT).ClientTemplate("#= kendo.toString(kendo.parseDate(IDCARDDAT), 'yyyy/MM/dd') #").HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.BPLACE).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.ALAMANA).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.SEX_string).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.SEX).Visible(false);
                columns.Bound(c => c.TYP).Visible(false);
                columns.Bound(c => c.NAT).Visible(false);
                columns.Bound(c => c.NationName).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.PerType).HtmlAttributes(new { style = "width:auto;" });

            })
            .HtmlAttributes(new { style = "height: 1000px;" })
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))
            .Create(update => update.Action("Create", "zPerson"))
            .Read(read => read.Action("Read", "zPerson"))
            .Update(update => update.Action("Update", "zPerson"))
            .Destroy(update => update.Action("Destroy", "zPerson")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("newAdd").Text(" جديد ").HtmlAttributes(new { id = "newAdd", @class = "btn btn-primary" });
            })
            .Pageable(pageable =>
            {
                pageable.Refresh(true);
                pageable.PageSizes(true);
            })
            )
    </div>
</div>

<!-- Add -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("AddDetails")
        .Title("إضافة شخص")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="Addform">
                    <div id="save-container" @*class="k-edit-form-container"*@>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الرقم الوطني", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtNatno")
                                            .HtmlAttributes(new { placeholder = "أدخل الرقم الوطني", required = "required", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الاسم", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtFname")
                                            .HtmlAttributes(new { placeholder = "أدخل الاسم", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الكنية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtLname")
                                            .HtmlAttributes(new { placeholder = "أدخل الكنية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("اسم الاب", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtFather")
                                            .HtmlAttributes(new { placeholder = "أدخل اسم الاب", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الام", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtMother")
                                            .HtmlAttributes(new { placeholder = "أدخل اسم الام", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("القيد المدني", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtCivilloc")
                                            .HtmlAttributes(new { placeholder = "أدخل القيد المدني", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("العنوان الحالي", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtActaddress")
                                            .HtmlAttributes(new { placeholder = "أدخل العنوان الحالي", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("العنوان", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtAddress")
                                            .HtmlAttributes(new { placeholder = "أدخل العنوان", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الهاتف", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtPhone")
                                            .HtmlAttributes(new { placeholder = "أدخل الهاتف", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("المحمول", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtMobile")
                                            .HtmlAttributes(new { placeholder = "أدخل المحمول", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("رقم الهوية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtIdcardno")
                                            .HtmlAttributes(new { placeholder = "أدخل رقم الهوية", required = "required", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("تاريخ الهوية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DatePicker()
                                            .Name("dpIdcarddat")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { placeholder = "أدخل تاريخ الهوية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الميلاد", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DatePicker()
                                            .Name("dpBdate")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { placeholder = "أدخل الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("مكان الميلاد", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtBplace")
                                            .HtmlAttributes(new { placeholder = "أدخل مكان الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الأمانة", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtAlamana")
                                            .HtmlAttributes(new { placeholder = "أدخل لأمانة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الجنس", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر الجنس")
                                        .Name("ddlSex")
                                        .DataTextField("Text")
                                        .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetSex", "Codes");
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الجنسية :", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر الجنسية")
                                        .Name("ddlNation")
                                        .DataTextField("Name")
                                        .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetNation", "Codes");
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("نوع الشخص :", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر نوع الشخص")
                                        .Name("ddlPertype")
                                        .DataTextField("Name")
                                        .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPertype", "Codes");
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px"></div>
                        <div class="k-edit-buttons k-state-default">
                        @(Html.Kendo().Button()
                            .Name("btnSave")
                            .Content("حفظ")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
                            .Events(e => e.Click("btnSave_Click"))
                        )
                        @(Html.Kendo().Button()
                            .Name("btnReset")
                            .Content("تراجع")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:100px;" })
                            .Events(e => e.Click("btnReset_Click"))
                        )
                        </div>
                    </div>
                </form>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(900)     //Set width of the window
            .Height(500)
        )
    </div>
</div>

<!-- Edit -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("EditDetails")
        .Title("تعديل بيانات شخص")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="Editform">
                    <div id="Update-container" @*class="k-edit-form-container"*@>
                        <div id="Update-container" class="col-md-12">
                            @Html.Hidden("txtId")
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الرقم الوطني", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().NumericTextBox()
                                                .Name("txtNatno1")
                                                .HtmlAttributes(new { placeholder = "أدخل الرقم الوطني", required = "required", validationmessage = "*", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الاسم", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtFname1")
                                                .HtmlAttributes(new { placeholder = "أدخل الاسم", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الكنية", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtLname1")
                                                .HtmlAttributes(new { placeholder = "أدخل الكنية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("اسم الاب", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtFather1")
                                                .HtmlAttributes(new { placeholder = "أدخل اسم الاب", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الام", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtMother1")
                                                .HtmlAttributes(new { placeholder = "أدخل اسم الام", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("القيد المدني", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtCivilloc1")
                                                .HtmlAttributes(new { placeholder = "أدخل القيد المدني", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("العنوان الحالي", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtActaddress1")
                                                .HtmlAttributes(new { placeholder = "أدخل العنوان الحالي", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("العنوان", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtAddress1")
                                                .HtmlAttributes(new { placeholder = "أدخل العنوان", validationmessage = "*", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الهاتف", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().NumericTextBox()
                                                .Name("txtPhone1")
                                                .HtmlAttributes(new { placeholder = "أدخل الهاتف", validationmessage = "*",style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المحمول", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().NumericTextBox()
                                                .Name("txtMobile1")
                                                .HtmlAttributes(new { placeholder = "أدخل المحمول", validationmessage = "*", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("رقم الهوية", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().NumericTextBox()
                                                .Name("txtIdcardno1")
                                                .HtmlAttributes(new { placeholder = "أدخل رقم الهوية", required = "required", validationmessage = "*", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("تاريخ الهوية", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DatePicker()
                                                .Name("dpIdcarddat1")
                                                .Value(DateTime.Today)
                                                .HtmlAttributes(new { placeholder = "أدخل تاريخ الهوية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الميلاد", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DatePicker()
                                                .Name("dpBdate1")
                                                .Value(DateTime.Today)
                                                .HtmlAttributes(new { placeholder = "أدخل الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("مكان الميلاد", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtBplace1")
                                                .HtmlAttributes(new { placeholder = "أدخل مكان الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الأمانة", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtAlamana1")
                                                .HtmlAttributes(new { placeholder = "أدخل لأمانة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الجنس", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر الجنس")
                                            .Name("ddlSex1")
                                            .DataTextField("Text")
                                            .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetSex", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الجنسية :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر الجنسية")
                                            .Name("ddlNation1")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetNation", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("نوع الشخص :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر نوع الشخص")
                                            .Name("ddlPertype1")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetPertype", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px"></div>
                            <div class="k-edit-buttons k-state-default">
                                @(Html.Kendo().Button()
                                    .Name("btnUpdate")
                                    .Content("حفظ")
                                    .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:70px;" })
                                    .Events(e => e.Click("btnUpdate_Click"))
                                )
                                @(Html.Kendo().Button()
                                    .Name("btnUpdateReset")
                                    .Content("تراجع")
                                    .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:70px;" })
                                    .Events(e => e.Click("btnUpdateReset_Click"))
                                )
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </text>)
    .Draggable(true) //Enable dragging of the window
    .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
    .Width(900)     //Set width of the window
    .Height(500)
    )
    </div>
</div>

<script>
    // messages
    function OnRequestEnd(e) {
        if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            $('#success_msg').hide();
            $('#error_msg').show();
            $('#errlabelIdd').text(e.response.responseText);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    function Destroy(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();

        $("#YesDelete").on('click', function () {

            var personModel = {
                NB: dataItem.NB,
                FNAME: dataItem.FNAME,
                LNAME: dataItem.LNAME,
                FATHER: dataItem.FATHER,
                MOTHER: dataItem.MOTHER,
                NATNO: dataItem.NATNO,
                CIVILLOC: dataItem.CIVILLOC,
                ACTADDRESS: dataItem.ACTADDRESS,
                ADDRESS: dataItem.ADDRESS,
                PHONE: dataItem.PHONE,
                MOBILE: dataItem.MOBILE,
                BDATE: dataItem.BDATE,
                IDCARDNO: dataItem.IDCARDNO,
                IDCARDDAT: dataItem.IDCARDDAT,
                BPLACE: dataItem.BPLACE,
                ALAMANA: dataItem.ALAMANA,
                SEX: dataItem.SEX,
                NAT: dataItem.NAT,
                TYP: dataItem.TYP
            }
            var model = {
                "model": personModel
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy", "zPerson")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        wnd.close();
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })
    }

    // when i press "add" from the grid
    $("#newAdd").click(function (e) {
        debugger
        e.preventDefault();
        $("#AddDetails").data("kendoWindow").center().open();
        $("#newAdd").show();
        $("#btnSave").kendoButton({}).data("kendoButton").enable(true);
    });

    function btnSearch_Click() {
        alert("btnSearch");
        var natno = $("#NatnoSearch").val();
        var fname = $("#FnameSearch").val();
        var lname = $("#LnameSearch").val();
        var father = $("#FatherSearch").val();
        var mother = $("#MotherSearch").val();
        var bdate = $("#BdateSearch").val();
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("ReadByFilter", "zPerson")',
            data: {
                fname: fname, lname: lname, father: father, mother: mother, natno: natno, bdate:bdate
            },
            dataType: "JSON",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#grid").data("kendoGrid");
                dropdownlist.setDataSource(dataSource);
            },
            fail: function () {
                alert("fail");
            }
        });
    }

    // when i press "edit" on a row and to fill the fields of the edit window
    function editDetails(e) {
        e.preventDefault();
        var wnd = $("#EditDetails").data("kendoWindow");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#txtId").val(dataItem.NB);
        $("#txtFname1").val(dataItem.FNAME);
        $("#txtLname1").val(dataItem.LNAME);
        $("#txtFather1").val(dataItem.FATHER);
        $("#txtMother1").val(dataItem.MOTHER);
        $("#txtNatno1").data("kendoNumericTextBox").value(dataItem.NATNO);
        $("#txtCivilloc1").val(dataItem.CIVILLOC);
        $("#txtActaddress1").val(dataItem.ACTADDRESS);
        $("#txtAddress1").val(dataItem.ADDRESS);
        $("#txtPhone1").data("kendoNumericTextBox").value(dataItem.PHONE);
        $("#txtMobile1").data("kendoNumericTextBox").value(dataItem.MOBILE);
        $("#txtIdcardno1").data("kendoNumericTextBox").value(dataItem.IDCARDNO);
        $("#txtBplace1").val(dataItem.BPLACE);
        $("#txtAlamana1").val(dataItem.ALAMANA);
        $("#ddlSex1").data('kendoDropDownList').value(dataItem.SEX);
        $("#ddlNation1").data('kendoDropDownList').value(dataItem.NAT);
        $("#ddlPertype1").data('kendoDropDownList').value(dataItem.TYP);

        $("#dpBdate1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.BDATE
        });
        $("#dpIdcarddat1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.IDCARDDAT
        });

        $("#btnUpdate").kendoButton({}).data("kendoButton").enable(true);
        wnd.center().open();
    }

    // when i click save in add window
    function btnSave_Click() {
        debugger
        var validator = $("#save-container").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            //var sex;
            //if ($("#ddlSex").val() == 'ذكر') {
            //    sex = true;
            //} else if ($("#ddlSex").val() == 'انثى') {
            //    sex = false;
            //}
            var personModel = {
                FNAME: $("#txtFname").val(),
                LNAME: $("#txtLname").val(),
                FATHER: $("#txtFather").val(),
                MOTHER: $("#txtMother").val(),
                NATNO: $("#txtNatno").val(),
                CIVILLOC: $("#txtCivilloc").val(),
                ACTADDRESS: $("#txtActaddress").val(),
                ADDRESS: $("#txtAddress").val(),
                PHONE: $("#txtPhone").val(),
                MOBILE: $("#txtMobile").val(),
                BDATE: $("#dpBdate").val(),
                IDCARDNO: $("#txtIdcardno").val(),
                IDCARDDAT: $("#dpIdcarddat").val(),
                BPLACE: $("#txtBplace").val(),
                ALAMANA: $("#txtAlamana").val(),
                SEX: $("#ddlSex").val(),
                NAT: $("#ddlNation").val(),
                TYP: $("#ddlPertype").val()
            }
            var model = {
                "model": personModel
            }
            $.ajax({
                type: "POST",
                url: '/zPerson/Create', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        btnReset_Click();
                        var wnd = $("#AddDetails").data("kendoWindow");
                        wnd.center().close();
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                },
            });
            return true;
        }
        else {
            return false;
        }
    }

    // when i click reset in add window
    function btnReset_Click() {
        $("#txtFname").val("");
        $("#txtLname").val("");
        $("#txtFather").val("");
        $("#txtMother").val("");
        $("#txtNatno").data("kendoNumericTextBox").value(" ");
        $("#txtCivilloc").val("");
        $("#txtActaddress").val("");
        $("#txtAddress").val("");
        $("#txtPhone").data("kendoNumericTextBox").value(" ");
        $("#txtMobile").data("kendoNumericTextBox").value(" ");
        $("#dpBdate").val("");
        $("#txtIdcardno").data("kendoNumericTextBox").value(" ");
        $("#dpIdcarddat").val("");
        $("#txtBplace").val("");
        $("#txtAlamana").val("");
        $("#ddlSex").data('kendoDropDownList').value(-1);
        $("#ddlNation").data('kendoDropDownList').value(-1);
        $("#ddlPertype").data('kendoDropDownList').value(-1);

        $("#btnSave").kendoButton({}).data("kendoButton").enable(true);
        var wnd = $("#AddDetails").data("kendoWindow");
        wnd.element.find("span.k-tooltip-validation").hide();
        return;
    }

    // when i press "reset" in edit window
    function btnUpdateReset_Click() {

        var Id = $("#txtId").val();
        var dataItem = $("#grid").data("kendoGrid").dataSource.get(Id);
        $("#txtFname1").val(dataItem.FNAME);
        $("#txtLname1").val(dataItem.LNAME);
        $("#txtFather1").val(dataItem.FATHER);
        $("#txtMother1").val(dataItem.MOTHER);
        $("#txtNatno1").data("kendoNumericTextBox").value(dataItem.NATNO);
        $("#txtCivilloc1").val(dataItem.CIVILLOC);
        $("#txtActaddress1").val(dataItem.ACTADDRESS);
        $("#txtAddress1").val(dataItem.ADDRESS);
        $("#txtPhone1").data("kendoNumericTextBox").value(dataItem.PHONE);
        $("#txtMobile1").data("kendoNumericTextBox").value(dataItem.MOBILE);
        $("#txtIdcardno1").data("kendoNumericTextBox").value(dataItem.IDCARDNO);
        $("#txtBplace1").val(dataItem.BPLACE);
        $("#txtAlamana1").val(dataItem.ALAMANA);
        $("#ddlSex1").data('kendoDropDownList').value(dataItem.SEX);
        $("#ddlNation1").data('kendoDropDownList').value(dataItem.NAT);
        $("#ddlPertype1").data('kendoDropDownList').value(dataItem.TYP);

        $("#dpBdate1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.BDATE
        });
        $("#dpIdcarddat1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.IDCARDDAT
        });

        $("#btnUpdate").kendoButton({}).data("kendoButton").enable(true);
        return;
    }

    // when i press "update" in edit window
    function btnUpdate_Click() {
        debugger
        var validator = $("#Update-container").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            //var sex;
            //if ($("#ddlSex1").val() == 'ذكر') {
            //    sex = true;
            //} else if ($("#ddlSex1").val() == 'انثى') {
            //    sex = false;
            //}
            var personModel = {
                NB: $("#txtId").val(),
                FNAME: $("#txtFname1").val(),
                LNAME: $("#txtLname1").val(),
                FATHER: $("#txtFather1").val(),
                MOTHER: $("#txtMother1").val(),
                NATNO: $("#txtNatno1").val(),
                CIVILLOC: $("#txtCivilloc1").val(),
                ACTADDRESS: $("#txtActaddress1").val(),
                ADDRESS: $("#txtAddress1").val(),
                PHONE: $("#txtPhone1").val(),
                MOBILE: $("#txtMobile1").val(),
                BDATE: $("#dpBdate1").val(),
                IDCARDNO: $("#txtIdcardno1").val(),
                IDCARDDAT: $("#dpIdcarddat1").val(),
                BPLACE: $("#txtBplace1").val(),
                ALAMANA: $("#txtAlamana1").val(),
                SEX: $("#ddlSex1").val(),
                NAT: $("#ddlNation1").val(),
                TYP: $("#ddlPertype1").val()
            }
            var model = {
                "model": personModel
            }
            $.ajax({
                type: "POST",
                url: '/zPerson/Update', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        btnUpdateReset_Click();
                        var wnd = $("#EditDetails").data("kendoWindow");
                        wnd.center().close();
                        var grid = $('#grid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                },

            });
            return true;
        }
        else {
            return false;
        }
    }
</script>
