@model IEnumerable<DrivingSclApp.Areas.Schools.Data.SchoolVM>

@{
    ViewBag.Title = "تفاصيل مدرسة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .alert-message {
        position: fixed;
        top: 30px;
        right: 16px;
        width: fit-content;
    }
</style>

<!-- Header with the info of the school -->
<div class="panel panel-default panel-search" style="width:1500px">
    <div class="panel-heading">
        <a class="h4" aria-expanded="false" aria-controls="filter_body" href="#filter_body" data-toggle="collapse">تفاصيل مدرسة</a>
    </div>
    <div id="filter_body" class="toggle">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>اسم المدرسة :</dt>
                        <dd>@Model.Select(x => x.SCLNAME).FirstOrDefault()</dd>
                        <dt>رقم السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_NO).FirstOrDefault()</dd>
                        <dt>تاريخ السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_DATE).FirstOrDefault()</dd>
                        <dt>نوع السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>مصدر السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_GOV).FirstOrDefault()</dd>
                        <dt>المحافظة :</dt>
                        <dd>@Model.Select(x => x.GOV_NAME).FirstOrDefault()</dd>
                        <dt>المدينة :</dt>
                        <dd>@Model.Select(x => x.CTY_NAME).FirstOrDefault()</dd>
                        <dt>المنطقة :</dt>
                        <dd>@Model.Select(x => x.REG_NAME).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>نوع المدرسة :</dt>
                        <dd>@Model.Select(x => x.STY_NAME).FirstOrDefault()</dd>
                        <dt>حالة المدرسة :</dt>
                        <dd>@Model.Select(x => x.STS_NAME).FirstOrDefault()</dd>
                        <dt>العنوان :</dt>
                        <dd>@Model.Select(x => x.ADDRESS).FirstOrDefault()</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Messages -->
<div id="success_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#"></a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span style="color:green" class="bf-messages">
                <label id="labelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="error_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-danger" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#">*</a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span style="color:red" class="bf-messages">
                <label id="errlabelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="deleteWindow">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("DeleteWindow")
        .Title("تأكيد حذف")
        .Visible(false)
        .Modal(true)
        .HtmlAttributes(new { style = "text-align:center;" })
        .Content(@<text>
            <div class="container-fluid" style="text-align:center;">
                <h3>هل أنت متأكد من الحذف؟</h3>
                <div class="row">
                    <button id="YesDelete" class="btn btn-default" style="width:100px;">نعم</button>
                    <button id="NoDelete" class="btn btn-default" style="width:100px;">لا</button>
                </div>
                <span id="validationRFC" class="k-label alert-danger"></span>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Resizable() //Enable resizing of the window
        .Width(300)  //Set width of the window
        .Height(150)
        )
    </div>
</div>

<!-- TapStrip -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().TabStrip()
        .Name("tabstrip")
        .TabPosition(TabStripTabPosition.Top)
        .Collapsible(true)
        .Navigatable(true)
        .Animation(animation =>
        {
            animation.Open(config =>
            {
                config.Fade(FadeDirection.In);
            });
        })
        .Items(items =>
        {
            items.Add().Text("مالكين").LoadContentFrom("Owner", "SchoolOwner", new { id = ViewData["ID"] }).Selected(true);
            items.Add().Text("هواتف").LoadContentFrom("Phones", "SclPhone", new { id = ViewData["ID"] });
            items.Add().Text("مركبات").LoadContentFrom("Vehicles", "SchoolVehicles", new { id = ViewData["ID"] });
            items.Add().Text("مدربين").LoadContentFrom("Trainers", "SchoolTrainer", new { id = ViewData["ID"] });
        })
        )
    </div>
</div>

<script>
    // Messages
    function OnRequestEnd(e) {
        if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            $('#success_msg').hide();
            $('#error_msg').show();
            $('#errlabelIdd').text(e.response.responseText);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    //------------------ SchoolTrainer Region
    function DestroyTrainer(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();
        alert(dataItem.NB);
        alert(dataItem.LICENSEDATE);

        $("#YesDelete").on('click', function () {
            var trainer = {
                NB: dataItem.NB,
                PRS_NB: dataItem.PRS_NB,
                SCL_NB: dataItem.SCL_NB,
                TYP_NB: dataItem.TYP_NB,
                DIPLOM: dataItem.DIPLOM,
                LICENSENO: dataItem.LICENSENO,
                LICENSEDATE: dataItem.LICENSEDATE,
                LICENSEFROM: dataItem.LICENSEFROM
            }

            var model = { "model": trainer }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy","SchoolTrainer")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    wnd.close();
                    var grid = $("#TrainerGrid").data("kendoGrid");
                    grid.dataSource.read();
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })

    }

    function ChooseTrainPerson(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#TrainPrsNb").val(dataItem.NB);
        $("#TrainerName").val(dataItem.FNAME + " " + dataItem.LNAME);
        var wnd = $("#TainPersonSearch").data("kendoWindow");
        wnd.close();
    }
    //------------------ End of SchoolTrainer Region

    //------------------ SchoolVehicles Region
    function DestroyVehicle(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();

        $("#YesDelete").on('click', function () {
            var vehicle = {
                NB: dataItem.NB,
                SCL_NB: dataItem.SCL_NB,
                GOV_NB: dataItem.GOV_NB,
                BOARDNO: dataItem.BOARDNO,
                VIN: dataItem.VIN,
                ENGINENO: dataItem.ENGINENO,
                CLS_NB: dataItem.CLS_NB,
                COLOR: dataItem.COLOR,
                WIDTH: dataItem.WIDTH,
                LENG: dataItem.LENG,
                ENGINESIZE: dataItem.ENGINESIZE,
                PRODYEAR: dataItem.PRODYEAR,
                REGYEAR: dataItem.REGYEAR,
                BRAND: dataItem.BRAND,
                MODELNO: dataItem.MODELNO,
                SEATS: dataItem.SEATS,
                PRS_NB: dataItem.PRS_NB,
                LICENSEEXPIRYDATE: dataItem.LICENSEEXPIRYDATE
            };
            var model = {
                "model": vehicle
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy", "SchoolVehicles")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                    wnd.close();
                    //var wnd2 = $("#SearchForVehicles").data("kendoWindow");
                    //wnd2.close();
                    var grid = $('#VehiclesGrid').data('kendoGrid');
                    grid.dataSource.read();
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })


    }

    function VehicleDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#VehSclNameDetail").val(dataItem.SCL_NAME);
        $("#VehPrsDetail").val(dataItem.PRS_NAME);
        $("#VehGovDetail").val(dataItem.GOV_NAME);
        $("#VehClsDetail").val(dataItem.CLS_NAME);
        $("#VehBoardnoDetail").val(dataItem.BOARDNO);
        $("#VehVinDetail").val(dataItem.VIN);
        $("#VehEnginenoDetail").val(dataItem.ENGINENO);
        $("#VehColorDetail").val(dataItem.COLOR);
        $("#VehEnginesizeDetail").val(dataItem.ENGINESIZE);
        $("#VehWidthDetail").val(dataItem.WIDTH);
        $("#VehLengDetail").val(dataItem.LENG);
        $("#VehProdyearDetail").val(dataItem.PRODYEAR);
        $("#VehRegyearDetail").val(dataItem.REGYEAR);
        $("#VehBrandDetail").val(dataItem.BRAND);
        $("#VehModelDetail").val(dataItem.MODELNO);
        $("#VehSeatsDetail").val(dataItem.SEATS);
        $("#VehLicenseDetail").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.LICENSEEXPIRYDATE
        });

        var wnd = $("#VehicleDetails").data("kendoWindow");
        wnd.center().open();
    }

    function PrsChoose(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#VehiclePersonSearchWindow").data("kendoWindow");
        $("#VehPrsNb").val(dataItem.NB);
        $("#VehPrsAdd").val(dataItem.FNAME + " " + dataItem.LNAME);
        wnd.close();

    }

    function CityDataSource() {
        var govern = $("#ddlVehSclGov_name").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCityByGovern", "Codes", new { area = "Indexes" })',
            data: { govern: govern },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlVehSclCty_name").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function RegionDataSource() {
        var city = $("#ddlVehSclCty_name").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetRegionByCity", "Codes", new { area = "Indexes" })',
            data: { city: city },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlVehSclReg_name").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    //------------------------ End of SchoolVehicles Region

    //------------------------ SchoolPhone Region
    function DestroyPhone(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();

        $("#YesDelete").on('click', function () {

            var phone = {
                NB: dataItem.NB,
                SCL_NB: dataItem.SCL_NB,
                PHONE_NO: dataItem.PHONE_NO,
                PHONE_TYP: dataItem.PHONE_TYP
            };

            var model = { "model": phone };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy", "SclPhone")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        wnd.close();
                        var grid = $('#PhonesGrid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })
    }
    //------------------------ End of SchoolPhone Region

    //------------------------ SchoolOwner Region
    // Delete School Owner
    function Destroy(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();

        $("#YesDelete").on('click', function () {

            var schoolOwner = {
                NB: dataItem.NB,
                SCL_NB: dataItem.SCL_NB,
                OT_NB: dataItem.OT_NB,
                ONR_NB: dataItem.ONR_NB,
                NOTE: dataItem.NOTE
            }

            var model = {
                "model": schoolOwner
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy", "SchoolOwner")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        wnd.close();
                        var grid = $('#OwnerGrid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })
    }

    // Save the information from the text feilds
    function SaveOwner() {
        var scl = $("#sclNb").val();
        var own_typ = $("#ownerTyp").val();
        var owner = $("#ownerNb").val();
        var note = $("#sclNote").val();

        var schoolOwner = {
            SCL_NB: scl,
            OT_NB: own_typ,
            ONR_NB: owner,
            NOTE: note
        }

        var model = {
            "model": schoolOwner
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SchoolOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                if (response.success == true) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                    var wnd = $("#OwnerCompanySearch").data("kendoWindow");
                    wnd.center().close();
                    var grid = $('#OwnerGrid').data('kendoGrid');
                    grid.dataSource.read();
                } else {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                }
            }
        });

        $("#sclOwner").val("")
        $("#sclNote").val("")
    }

    // When i choose an owner from the search grid
    function ChooseCompany(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#ownerNb").val(dataItem.NB);
        $("#sclOwner").val(dataItem.COMPNAME);
        $("#ownerTyp").val("2");
        var wnd = $("#OwnerCompanySearch").data("kendoWindow");
        wnd.center().close();
        var grid = $('#OwnerGrid').data('kendoGrid');
        grid.dataSource.read();
        @*var scl = $("#sclNb").val();
        var own = 2;

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var schoolOwner = {
            SCL_NB: scl,
            OT_NB: own,
            ONR_NB: dataItem.NB,
        }

        var model = {
            "model": schoolOwner
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SchoolOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                if (response.success == true) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                    var wnd = $("#OwnerCompanySearch").data("kendoWindow");
                    wnd.center().close();
                    var grid = $('#OwnerGrid').data('kendoGrid');
                    grid.dataSource.read();
                } else {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                }
            }
        });*@
    }

    function ChoosePerson(e) {
        //debugger
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#ownerNb").val(dataItem.NB);
        $("#sclOwner").val(dataItem.FNAME + " " + dataItem.LNAME);
        $("#ownerTyp").val("1");
        var wnd = $("#OwnerPersonSearch").data("kendoWindow");
        wnd.center().close();
        var grid = $('#OwnerGrid').data('kendoGrid');
        grid.dataSource.read();
        @*var scl = $("#sclNb").val();
        var own = 1;

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var schoolOwner = {
            SCL_NB: scl,
            OT_NB: own,
            ONR_NB: dataItem.NB,
        }

        var model = {
            "model": schoolOwner
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SchoolOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                if (response.success == true) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                    var wnd = $("#OwnerPersonSearch").data("kendoWindow");
                    wnd.center().close();
                    var grid = $('#OwnerGrid').data('kendoGrid');
                    grid.dataSource.read();
                } else {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                }
            }
        });*@
    }

    // When i want to add a new owner
    function SaveNewOwnerCompany() {
        $.when(SaveNewCompany()).done(function (s1) {
            $("#ownerNb").val(s1.NB);
            $("#sclOwner").val(s1.COMPNAME);
            $("#ownerTyp").val("2");
            var wnd1 = $("#AddCompany").data("kendoWindow");
            wnd1.center().close();
            var wnd2 = $("#OwnerCompanySearch").data("kendoWindow");
            wnd2.center().close();
            //    var scl = $("#sclNb").val();
            //    var person_nb = s1;
            //    var own_type = 2;

            //    var schoolOwner = {
            //        SCL_NB: scl,
            //        OT_NB: own_type,
            //        ONR_NB: person_nb,
            //    }

            //    var model = {
            //        "model": schoolOwner
            //    }

            //    $.ajax({
            //        type: 'POST',
            //        url: '/SchoolOwner/Create', data: model,
            //        datatype: "json",
            //        cache: false,
            //        success: function (response) {
            //            if (response.success == true) {
            //                $('#success_msg').show();
            //                $('#error_msg').hide();
            //                $('#labelIdd').text(response.responseText);
            //                $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
            //                    $("#success_msg").slideUp(500);
            //                });
            //                var wnd1 = $("#AddCompany").data("kendoWindow");
            //                wnd1.center().close();
            //                var wnd2 = $("#OwnerCompanySearch").data("kendoWindow");
            //                wnd2.center().close();
            //                var grid = $('#OwnerGrid').data('kendoGrid');
            //                grid.dataSource.read();
            //            } else {
            //                $('#success_msg').show();
            //                $('#error_msg').hide();
            //                $('#labelIdd').text(response.responseText);
            //                $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
            //                    $("#success_msg").slideUp(500);
            //                });
            //            }
            //        }
            //    });
            //});
        });
    }

    function SaveNewCompany() {
        var companyModel = {
            COMPNAME: $("#txtCompname").val(),
            COMREG_NO: $("#txtComreg_no").val(),
            COMREG_DATE: $("#dpComreg_date").val(),
            COMREG_TYP: $("#ddlComreg_typ").val(),
            COMREG_GOV: $("#ddlComreg_gov").val(),
            CTY_NB: $("#ddlCty_nb").val(),
            REG_NB: $("#ddlReg_nb").val(),
            ADDRESS: $("#txtComAddress").val(),
            PHONE1: $("#txtPhone1").val(),
            PHONE2: $("#txtPhone2").val(),
            MOBILE: $("#txtComMobile").val(),
            FAX: $("#txtFax").val(),
            NOTE: $("#txtNote").val(),
        }
        var model = {
            "model": companyModel
        }
        return $.ajax({
            type: "POST",
            url: '@Url.Action("Create_GetScl", "zCompany", new { area = "Indexes" })',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
            },
        });
    }

    function SaveNewOwnerPerson() {
        $.when(SaveNewPerson()).done(function (s1) {
            $("#ownerNb").val(s1.NB);
            $("#sclOwner").val(s1.FNAME + " " + s1.LNAME);
            $("#ownerTyp").val("1");
            var wnd1 = $("#AddPerson").data("kendoWindow");
            wnd1.center().close();
            var wnd2 = $("#OwnerPersonSearch").data("kendoWindow");
            wnd2.center().close();
            //var scl = $("#sclNb").val();
            //var person_nb = s1;
            //var own_type = 1;

            //var schoolOwner = {
            //    SCL_NB: scl,
            //    OT_NB: own_type,
            //    ONR_NB: person_nb,
            //}

            //var model = {
            //    "model": schoolOwner
            //}

            //$.ajax({
            //    type: 'POST',
            //    url: '/SchoolOwner/Create', data: model,
            //    datatype: "json",
            //    cache: false,
            //    success: function (response) {
            //        if (response.success == true) {
            //            $('#success_msg').show();
            //            $('#error_msg').hide();
            //            $('#labelIdd').text(response.responseText);
            //            $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
            //                $("#success_msg").slideUp(500);
            //            });
            //            var wnd1 = $("#AddPerson").data("kendoWindow");
            //            wnd1.center().close();
            //            var wnd2 = $("#OwnerPersonSearch").data("kendoWindow");
            //            wnd2.center().close();
            //            var grid = $('#OwnerGrid').data('kendoGrid');
            //            grid.dataSource.read();
            //        } else {
            //            $('#success_msg').show();
            //            $('#error_msg').hide();
            //            $('#labelIdd').text(response.responseText);
            //            $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
            //                $("#success_msg").slideUp(500);
            //            });
            //        }
            //    }
            //});
        });
    }

    function SaveNewPerson() {
        var sex;
        if ($("#ddlSex").val() == 'ذكر') {
            sex = true;
        } else if ($("#ddlSex").val() == 'انثى') {
            sex = false;
        }
        var personModel = {
            FNAME: $("#txtFname").val(),
            LNAME: $("#txtLname").val(),
            FATHER: $("#txtFather").val(),
            MOTHER: $("#txtMother").val(),
            NATNO: $("#txtNatno").val(),
            CIVILLOC: $("#txtCivilloc").val(),
            ACTADDRESS: $("#txtActaddress").val(),
            ADDRESS: $("#txtPrsAddress").val(),
            PHONE: $("#txtPhone").val(),
            MOBILE: $("#txtPrsMobile").val(),
            BDATED: $("#txtBdated").val(),
            BDATEM: $("#txtBdatem").val(),
            BDATEY: $("#txtBdatey").val(),
            BDATE: $("#dpBdate").val(),
            IDCARDNO: $("#txtIdcardno").val(),
            IDCARDDAT: $("#dpIdcarddat").val(),
            BPLACE: $("#txtBplace").val(),
            ALAMANA: $("#txtAlamana").val(),
            SEX: sex,
            NAT: $("#ddlNation").val(),
            TYP: $("#ddlPertype").val()
        }
        var model1 = {
            "model": personModel
        }
        return $.ajax({
            type: "POST",
            url: '@Url.Action("Create_getPrs", "zPerson", new { area = "Indexes" })',
            data: model1,
            datatype: "json",
            cache: false,
            success: function (response) {
            },
        });
    }
</script>
