@model IEnumerable<DrivingSclApp.Areas.Schools.Data.SchoolVM>

@{
    ViewBag.Title = "تفاصيل مدرسة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header with the info of the school -->
<div class="panel panel-default panel-search" style="width:1500px">
    <div class="panel-heading">
        <a class="h4" aria-expanded="false" aria-controls="filter_body" href="#filter_body" data-toggle="collapse">تفاصيل مدرسة</a>
    </div>
    <div id="filter_body" class="collapse">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>اسم المدرسة :</dt>
                        <dd>@Model.Select(x => x.SCLNAME).FirstOrDefault()</dd>
                        <dt>رقم السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_NO).FirstOrDefault()</dd>
                        <dt>تاريخ السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_DATE).FirstOrDefault()</dd>
                        <dt>نوع السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>مصدر السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_GOV).FirstOrDefault()</dd>
                        <dt>المحافظة :</dt>
                        <dd>@Model.Select(x => x.GOV_NAME).FirstOrDefault()</dd>
                        <dt>المدينة :</dt>
                        <dd>@Model.Select(x => x.CTY_NAME).FirstOrDefault()</dd>
                        <dt>المنطقة :</dt>
                        <dd>@Model.Select(x => x.REG_NAME).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal d-inline">
                        <dt>نوع المدرسة :</dt>
                        <dd>@Model.Select(x => x.STY_NAME).FirstOrDefault()</dd>
                        <dt>حالة المدرسة :</dt>
                        <dd>@Model.Select(x => x.STS_NAME).FirstOrDefault()</dd>
                        <dt>العنوان :</dt>
                        <dd>@Model.Select(x => x.ADDRESS).FirstOrDefault()</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Messages -->
@if (ViewBag.Alert == "Deleted")
{
    <div id="success_msg" class="bf-messages" role="alert" style="display:none">
        <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
            <a class="close" data-dissmiss="alert" href="#"></a>
            <span class="bf-messages">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <span style="color:green" class="bf-messages">
                    <span class="bf-messages">تم حذف السجل بنجاح </span>
                </span>
            </span>
        </div>
    </div>
}

<div id="success_msg" class="bf-messages" role="alert" style="display:none">
    <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#"></a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span style="color:green" class="bf-messages">
                <label id="labelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="error_msg" class="bf-messages" role="alert" style="display:none">
    <div class="alert fadein alert-danger" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#">*</a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span style="color:red" class="bf-messages">
                <label id="errlabelIdd"></label>
            </span>
        </span>
    </div>
</div>

<!-- TapStrip -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().TabStrip()
        .Name("tabstrip")
        .TabPosition(TabStripTabPosition.Top)
        .Collapsible(true)
        .Navigatable(true)
        .Animation(animation =>
        {
            animation.Open(config =>
            {
                config.Fade(FadeDirection.In);
            });
        })
        .Items(items =>
        {
            items.Add().Text("مالكين").LoadContentFrom("Owner", "SchoolOwner", new { id = ViewData["ID"] });
            items.Add().Text("هواتف").LoadContentFrom("Phones", "SclPhone", new { id = ViewData["ID"] });
        })
        )
    </div>
</div>

<script>
    // Messages
    function OnRequestEnd(e) {
        if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            $('#success_msg').hide();
            $('#error_msg').show();
            $('#errlabelIdd').text(e.response.responseText);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    // When i choose an owner from the search grid
    function ChooseCompany(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scl = $("#sclNb").val();
        var own;
        if ($("#ownerTyp").val() == 'افراد') {
            own = 1;
        } else {
            own = 2;
        }
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var schoolOwner = {
            SCL_NB: scl,
            OT_NB: own,
            ONR_NB: dataItem.NB,
        }

        var model = {
            "model": schoolOwner
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SchoolOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
            }
        });
        var wnd = $("#OwnerCompanySearch").data("kendoWindow");
        wnd.center().close();
        var grid = $('#OwnerGrid').data('kendoGrid');
        grid.dataSource.read();
    }

    function ChoosePerson(e) {
        //debugger
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scl = $("#sclNb").val();
        var own;
        if ($("#ownerTyp").val() == 'افراد') {
            own = 1;
        } else {
            own = 2;
        }
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var schoolOwner = {
            SCL_NB: scl,
            OT_NB: own,
            ONR_NB: dataItem.NB,
        }

        var model = {
            "model": schoolOwner
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "SchoolOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
            }
        });
        var wnd = $("#OwnerPersonSearch").data("kendoWindow");
        wnd.center().close();
        var grid = $('#OwnerGrid').data('kendoGrid');
        grid.dataSource.read();

    }

    // When i want to add a new owner
    function SaveNewOwnerCompany() {
        $.when(SaveNewCompany()).done(function (s1) {
            alert("SaveNewCompany");
            var scl = $("#sclNb").val();
            var person_nb = s1;
            var own_type;

            if ($("#ownerTyp").val() == 'افراد') {
                own_type = 1;
            } else {
                own_type = 2;
            }

            alert("scl: " + scl);
            alert("person_nb: " + person_nb);
            alert("own_type: " + own_type);

            var schoolOwner = {
                SCL_NB: scl,
                OT_NB: own_type,
                ONR_NB: person_nb,
            }

            var model = {
                "model": schoolOwner
            }

            $.ajax({
                type: 'POST',
                url: '/SchoolOwner/Create', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    alert("SchoolOwner AJAX");
                }
            });
            var wnd1 = $("#AddCompany").data("kendoWindow");
            wnd1.center().close();
            var wnd2 = $("#OwnerCompanySearch").data("kendoWindow");
            wnd2.center().close();
            var grid = $('#OwnerGrid').data('kendoGrid');
            grid.dataSource.read();
        });
    }

    function SaveNewCompany() {
        var companyModel = {
            COMPNAME: $("#txtCompname").val(),
            COMREG_NO: $("#txtComreg_no").val(),
            COMREG_DATE: $("#dpComreg_date").val(),
            COMREG_TYP: $("#ddlComreg_typ").val(),
            COMREG_GOV: $("#ddlComreg_gov").val(),
            CTY_NB: $("#ddlCty_nb").val(),
            REG_NB: $("#ddlReg_nb").val(),
            ADDRESS: $("#txtComAddress").val(),
            PHONE1: $("#txtPhone1").val(),
            PHONE2: $("#txtPhone2").val(),
            MOBILE: $("#txtComMobile").val(),
            FAX: $("#txtFax").val(),
            NOTE: $("#txtNote").val(),
        }
        var model = {
            "model": companyModel
        }
        return $.ajax({
            type: "POST",
            url: '@Url.Action("Create_GetNb", "zCompany", new { area = "Indexes" })',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                alert("Save New Company AJAX");
                alert("response: " + response);
            },

        });
    }

    function SaveNewOwnerPerson() {
        $.when(SaveNewPerson()).done(function (s1) {
            alert("SaveNewPerson");
            var scl = $("#sclNb").val();
            var person_nb = s1;
            var own_type;

            if ($("#ownerTyp").val() == 'افراد') {
                own_type = 1;
            } else {
                own_type = 2;
            }

            alert("scl: " + scl);
            alert("person_nb: " + person_nb);
            alert("own_type: " + own_type);

            var schoolOwner = {
                SCL_NB: scl,
                OT_NB: own_type,
                ONR_NB: person_nb,
            }

            var model = {
                "model": schoolOwner
            }

            $.ajax({
                type: 'POST',
                url: '/SchoolOwner/Create', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    alert("SchoolOwner AJAX");
                }
            });
            var wnd1 = $("#AddPerson").data("kendoWindow");
            wnd1.center().close();
            var wnd2 = $("#OwnerPersonSearch").data("kendoWindow");
            wnd2.center().close();
            var grid = $('#OwnerGrid').data('kendoGrid');
            grid.dataSource.read();
        });
    }

    function SaveNewPerson() {
        var sex;
        if ($("#ddlSex").val() == 'ذكر') {
            sex = true;
        } else if ($("#ddlSex").val() == 'انثى') {
            sex = false;
        }
        var personModel = {
            FNAME: $("#txtFname").val(),
            LNAME: $("#txtLname").val(),
            FATHER: $("#txtFather").val(),
            MOTHER: $("#txtMother").val(),
            NATNO: $("#txtNatno").val(),
            CIVILLOC: $("#txtCivilloc").val(),
            ACTADDRESS: $("#txtActaddress").val(),
            ADDRESS: $("#txtPrsAddress").val(),
            PHONE: $("#txtPhone").val(),
            MOBILE: $("#txtPrsMobile").val(),
            BDATED: $("#txtBdated").val(),
            BDATEM: $("#txtBdatem").val(),
            BDATEY: $("#txtBdatey").val(),
            BDATE: $("#dpBdate").val(),
            IDCARDNO: $("#txtIdcardno").val(),
            IDCARDDAT: $("#dpIdcarddat").val(),
            BPLACE: $("#txtBplace").val(),
            ALAMANA: $("#txtAlamana").val(),
            SEX: sex,
            NAT: $("#ddlNation").val(),
            TYP: $("#ddlPertype").val()
        }
        var model1 = {
            "model": personModel
        }
        return $.ajax({
            type: "POST",
            url: '@Url.Action("Create_getNb", "zPerson", new { area = "Indexes" })',
            data: model1,
            datatype: "json",
            cache: false,
            success: function (response) {
                alert("Person AJAX Success");
                alert("response: " + response);
            },
        });
    }
</script>
