@model IEnumerable<DrivingSclApp.Areas.Schools.Data.SchoolVM>

<style>
    .buttons {
        text-align: center;
    }

    personGrid {
        width: 1400px;
    }

    sclName {
        visibility: hidden;
    }

    .search-bars {
        text-align: center;
    }
</style>

<!-- Header with buttons -->
<div>
    <!-- Hidden Buttons -->
    <div class="hidden">
        <div class="editor-label">
            @Html.Label("المدرسة", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @(Html.Kendo().NumericTextBox()
                .Name("VehSclNb").Enable(false)
                .Value(Model.Select(x => x.NB).FirstOrDefault())
                .HtmlAttributes(new { placeholder = "ملاحظة", style = "width: 100%" })
            )
        </div>
        <div class="editor-label">
            @Html.Label("المالك", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @(Html.Kendo().NumericTextBox()
                .Name("VehPrsNb").Enable(false)
                .HtmlAttributes(new { placeholder = "ملاحظة", style = "width: 100%" })
            )
        </div>
    </div>
    <!-- Buttons -->
    <div class="container-fluid buttons">
        <div class="row">
            <div class="col-md">
                @(Html.Kendo().Button()
                    .Name("btnAddVehicle")
                    .Content("إضافة مركبة")
                    .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:auto;text-align:center;" })
                )
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px"></div>
</div>

<!-- VehiclesGrid -->
<div>
    <div calss="k_rtl">
        @(Html.Kendo().Grid<DrivingSclApp.Areas.Schools.Data.SchoolVehiclesVM>()
            .Name("VehiclesGrid")
            .Columns(columns =>
            {
                columns.Command(command => { command.Custom("تفاصيل").Click("VehicleDetails").HtmlAttributes(new { @class = "btn btn-primary" }); command.Custom("حذف").Click("DestroyVehicle").HtmlAttributes(new { @class = "btn btn-danger"}); }).Title("العمليات").HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.SCL_NB).Visible(false);
                columns.Bound(c => c.PRS_NB).Visible(false);
                columns.Bound(c => c.CLS_NB).Visible(false);
                columns.Bound(c => c.GOV_NB).Visible(false);
                columns.Bound(c => c.CLS_NAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.SCL_NAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.PRS_NAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.GOV_NAME).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.BOARDNO).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.COLOR).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.LICENSEEXPIRYDATE).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "width:auto;" });
            })
            .Scrollable()
            .HtmlAttributes(new { style = "height: auto;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("VehiclesBySclNb", "SchoolVehicles", new { id = ViewData["ID"] }))
            .Destroy(destroy => destroy.Action("Destroy", "SchoolVehicles")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .Pageable(pageable =>
            {
                pageable.Refresh(true);
                pageable.PageSizes(true);
            })
        )
    </div>
</div>

<!-- search for person -->
<div>
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("VehiclePersonSearchWindow")
        .Title("بحث عن شخص")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div class="container search-bars">
                <div class="row">
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("الرقم الوطني", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().TextBox()
                            .Name("VehPerNatno")
                            .HtmlAttributes(new { placeholder = "أدخل الرقم الوطني", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("الاسم", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().TextBox()
                            .Name("VehPerFname")
                            .HtmlAttributes(new { placeholder = "أدخل الاسم", @class = "form-control", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("الكنية", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().TextBox()
                            .Name("VehPerLname")
                            .HtmlAttributes(new { placeholder = "أدخل الكنية", @class = "form-control", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="editor-label">
                            @Html.Label("الاب", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().TextBox()
                            .Name("VehPerFather")
                            .HtmlAttributes(new { placeholder = "أدخل اسم الاب", @class = "form-control", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="editor-label">
                            @Html.Label("الام", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().TextBox()
                            .Name("VehPerMother")
                            .HtmlAttributes(new { placeholder = "أدخل اسم الاب", @class = "form-control", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="editor-label">
                            @Html.Label("سنة الميلاد", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().NumericTextBox()
                            .Name("VehPerBday")
                            .HtmlAttributes(new { placeholder = "أدخل الميلاد", style = "width: 100%; text-align: center;" })
                            )
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px"></div>
                <div class="row">
                    <div class="k_rtl">
                        @(Html.Kendo().Button()
                        .Name("btnVehPersonSearch")
                        .Content("بحث")
                        .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;text-align:center;" })
                        )
                        @(Html.Kendo().Button()
                        .Name("btnVehPersonSearchNew")
                        .Content("جديد")
                        .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;text-align:center;" })
                        )
                        @(Html.Kendo().Button()
                        .Name("btnVehPersonSearchReset")
                        .Content("تراجع")
                        .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:100px;" })
                        )
                    </div>
                </div>
                <div class="row" style="margin-top:20px"></div>
            </div>
            <div class="container-fluid">
                <div id="IdivForm">
                    <div calss="k_rtl">
                        @(Html.Kendo().Grid<DrivingSclApp.Areas.Indexes.Data.PersonVM>()
                        .Name("VehPersonGrid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Custom("اختيار").Click("PrsChoose").HtmlAttributes(new { @class = "btn btn-primary" }); }).Title("العمليات").HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.NB).Visible(false);
                            columns.Bound(c => c.NATNO).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.FNAME).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.LNAME).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.FATHER).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.MOTHER).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.CIVILLOC).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.ACTADDRESS).Visible(false);
                            columns.Bound(c => c.ADDRESS).Visible(false);
                            columns.Bound(c => c.PHONE).Visible(false);
                            columns.Bound(c => c.MOBILE).Visible(false);
                            columns.Bound(c => c.BDATED).Visible(false);
                            columns.Bound(c => c.BDATEM).Visible(false);
                            columns.Bound(c => c.BDATEY).Visible(false);
                            columns.Bound(c => c.BDATE).ClientTemplate("#= kendo.toString(kendo.parseDate(BDATE), 'yyyy/MM/dd') #").HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.IDCARDNO).Visible(false);
                            columns.Bound(c => c.IDCARDDAT).Visible(false);
                            columns.Bound(c => c.BPLACE).Visible(false);
                            columns.Bound(c => c.ALAMANA).Visible(false);
                            columns.Bound(c => c.SEX_string).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.SEX).Visible(false);
                            columns.Bound(c => c.TYP).Visible(false);
                            columns.Bound(c => c.NAT).Visible(false);
                            columns.Bound(c => c.NationName).HtmlAttributes(new { style = "width:auto;" });
                            columns.Bound(c => c.PerType).HtmlAttributes(new { style = "width:auto;" });

                        })
                        .HtmlAttributes(new { style = "height: auto;" })
                        .Sortable()
                        .Filterable()
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
                        .PageSize(15)
                        .Model(model => model.Id(p => p.NB))
                        .Read(read => read.Action("PersonFilter", "SchoolOwner")))
                        .Resizable(resize => resize
                        .Columns(true)
                        )
                        .Pageable(pageable =>
                        {
                            pageable.Refresh(true);
                            pageable.PageSizes(true);
                        })
                        )
                    </div>
                </div>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(1500)     //Set width of the window
            .Height(600)
        )
    </div>
</div>

<!-- Add Vehicle -->
<div>
    @(Html.Kendo().Window().Name("AddVehicle")
        .Title("إضافة مركبة")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="DetailsForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المدرسة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehSclnameAdd")
                                        .Enable(false)
                                        .Value(Model.Select(x => x.SCLNAME).FirstOrDefault())
                                        .HtmlAttributes(new { placeholder = "أدخل المدرسة", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المالك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehPrsAdd")
                                        .HtmlAttributes(new { placeholder = "اختر المالك", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المحافظة :", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر المحافظة")
                                    .Name("ddlVehGovAdd")
                                    .DataTextField("Name")
                                    .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetGovern", "Codes", new { area = "Indexes" });
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الصف :", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر الصف")
                                    .Name("ddlVehClsAdd")
                                    .DataTextField("Name")
                                    .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetVegicleClasses", "Codes", new { area = "Indexes" });
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("رقم اللوحة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehBoardnoAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل رقم اللوحة", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("رقم الهيكل", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehVinAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل رقم الهيكل", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("رقم المحرك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehEnginenoAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل رقم المحرك", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("اللون", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehColorAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل اللون", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سعة المحرك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehEnginesizeAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل سعة المحرك", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("العرض", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehWidthAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل العرض", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الطول", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehLengAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل الطول", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سنة الصنع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehProdyearAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل سنة الصنع", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سنة التصنيع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehRegyearAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل سنة التصنيع", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الصانع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehBrandAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل الصانع", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الطراز", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehModelAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل الطراز", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("عدد المقاعد", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().NumericTextBox()
                                        .Name("VehSeatsAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل عدد المقاعد", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("تاريخ انتهاء الرخصة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().DatePicker()
                                        .Name("dpVehLicenseAdd")
                                        .HtmlAttributes(new { placeholder = "أدخل تاريخ انتهاء الرخصة", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px"></div>
                        <div class="k-edit-buttons k-state-default">
                        @(Html.Kendo().Button()
                            .Name("btnVehicleSave")
                            .Content("حفظ")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
                        )
                        @(Html.Kendo().Button()
                            .Name("btnVehicleReset")
                            .Content("تراجع")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:100px;" })
                        )
                        </div>
                    </div>
                </form>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(1000)     //Set width of the window
            .Height(500)
        )
</div>

<!-- Add Person -->
<div>
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("AddVehPrsNew")
        .Title("إضافة شخص")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="Addform">
                    <div id="save-container" @*class="k-edit-form-container"*@>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الرقم الوطني", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtVehPrsNatno")
                                            .HtmlAttributes(new { placeholder = "أدخل الرقم الوطني", required = "required", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الاسم", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsFname")
                                            .HtmlAttributes(new { placeholder = "أدخل الاسم", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الكنية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsLname")
                                            .HtmlAttributes(new { placeholder = "أدخل الكنية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("اسم الاب", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsFather")
                                            .HtmlAttributes(new { placeholder = "أدخل اسم الاب", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الام", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsMother")
                                            .HtmlAttributes(new { placeholder = "أدخل اسم الام", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("القيد المدني", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsCivilloc")
                                            .HtmlAttributes(new { placeholder = "أدخل القيد المدني", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("العنوان الحالي", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsActaddress")
                                            .HtmlAttributes(new { placeholder = "أدخل العنوان الحالي", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("العنوان", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsAddress")
                                            .HtmlAttributes(new { placeholder = "أدخل العنوان", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الهاتف", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtVehPrsPhone")
                                            .HtmlAttributes(new { placeholder = "أدخل الهاتف", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("المحمول", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtVehPrsMobile")
                                            .HtmlAttributes(new { placeholder = "أدخل المحمول", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("رقم الهوية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().NumericTextBox()
                                            .Name("txtVehPrsIdcardno")
                                            .HtmlAttributes(new { placeholder = "أدخل رقم الهوية", required = "required", validationmessage = "*", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("تاريخ الهوية", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DatePicker()
                                            .Name("dpVehPrsIdcarddat")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { placeholder = "أدخل تاريخ الهوية", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الميلاد", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DatePicker()
                                            .Name("dpVehPrsBdate")
                                            .Value(DateTime.Today)
                                            .HtmlAttributes(new { placeholder = "أدخل الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("مكان الميلاد", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsBplace")
                                            .HtmlAttributes(new { placeholder = "أدخل مكان الميلاد", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الأمانة", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().TextBox()
                                            .Name("txtVehPrsAlamana")
                                            .HtmlAttributes(new { placeholder = "أدخل لأمانة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الجنس", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر الجنس")
                                        .Name("ddlVehPrsSex")
                                        .DataTextField("Text")
                                        .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetSex", "Codes", new { area = "Indexes" });
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("الجنسية :", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر الجنسية")
                                        .Name("ddlVehPrsNation")
                                        .DataTextField("Name")
                                        .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetNation", "Codes", new { area = "Indexes" });
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="editor-label">
                                        @Html.Label("نوع الشخص :", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editor-field">
                                        @(Html.Kendo().DropDownList()
                                        .OptionLabel("اختر نوع الشخص")
                                        .Name("ddlVehPrsPertype")
                                        .DataTextField("Name")
                                        .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPertype", "Codes", new { area = "Indexes" });
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px"></div>
                        <div class="k-edit-buttons k-state-default">
                        @(Html.Kendo().Button()
                            .Name("btnVehPersonNewSave")
                            .Content("حفظ")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
                        )
                        @(Html.Kendo().Button()
                            .Name("btnVehPersonNewReset")
                            .Content("تراجع")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:100px;" })
                        )
                        </div>
                    </div>
                </form>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(900)     //Set width of the window
            .Height(500)
        )
    </div>
</div>

<!-- Vehicle Details -->
<div>
    @(Html.Kendo().Window().Name("VehicleDetails")
        .Title("تفاصيل مركبة")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="DetailsForm">
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المدرسة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehSclNameDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المالك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehPrsDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("المحافظة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehGovDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الصف", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehClsDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("رقم اللوحة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehBoardnoDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الهيكل", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehVinDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("رقم المحرك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehEnginenoDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("اللون", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehColorDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سعة المحرك", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehEnginesizeDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("العرض", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehWidthDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الطول", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehLengDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سنة الصنع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehProdyearDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("سنة التصنيع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehRegyearDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الصانع", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehBrandDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("الطراز", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehModelDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("عدد المقاعد", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehSeatsDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", @class = "form-control", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="editor-label">
                                    @Html.Label("تاريخ انتهاء الرخصة", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @(Html.Kendo().TextBox()
                                        .Name("VehLicenseDetail")
                                        .Enable(false)
                                        .HtmlAttributes(new { placeholder = "أدخل العنوان", style = "width: 100%; text-align:center;" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px"></div>
                        <div class="k-edit-buttons k-state-default">
                        @(Html.Kendo().Button()
                            .Name("btnDetailsBack")
                            .Content("رجوع")
                            .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
                        )
                        </div>
                    </div>
                </form>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(800)     //Set width of the window
            .Height(500)
        )
</div>

<script>
    $("#btnDetailsBack").on('click', function () {
        var wnd = $("#VehicleDetails").data("kendoWindow");
        wnd.close();
    })

    $("#btnAddVehicle").on('click', function () {
        $("#VehPrsAdd").val("");
        $("#ddlVehGovAdd").data("kendoDropDownList").value(-1);
        $("#VehBoardnoAdd").data("kendoNumericTextBox").value(" ");
        $("#VehVinAdd").data("kendoNumericTextBox").value(" ");
        $("#VehEnginenoAdd").data("kendoNumericTextBox").value(" ");
        $("#ddlVehClsAdd").data("kendoDropDownList").value(-1);
        $("#VehColorAdd").val("");
        $("#VehWidthAdd").data("kendoNumericTextBox").value(" ");
        $("#VehLengAdd").data("kendoNumericTextBox").value(" ");
        $("#VehEnginesizeAdd").data("kendoNumericTextBox").value(" ");
        $("#VehProdyearAdd").data("kendoNumericTextBox").value(" ");
        $("#VehRegyearAdd").data("kendoNumericTextBox").value(" ");
        $("#VehBrandAdd").val("");
        $("#VehModelAdd").val("");
        $("#VehSeatsAdd").data("kendoNumericTextBox").value(" ");
        $("#dpVehLicenseAdd").val("");
        var wnd = $("#AddVehicle").data("kendoWindow");
        wnd.center().open();
    })

    $("#btnVehicleSearch").on('click', function () {
        var scl = $("#VehSclNameSearch").val();
        var prs = $("#VehPrsSearch").val();
        var gov = $("#ddlVehGovSearch").val();
        var cls = $("#ddlVehClsSearch").val();
        var board = $("#VehBoardnoSearch").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("VehiclesFilter", "SchoolVehicles")',
            data: { school: scl, person: prs, govern: gov, cls: cls, boardno: board },
            dataType: "JSON",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var grid = $("#SearchVehiclesGrid").data("kendoGrid");
                grid.setDataSource(dataSource);
            },
        });
    })

    $("#btnVehicleNew").on('click', function () {
        var wnd = $("#AddVehicle").data("kendoWindow");
        wnd.center().open();
    })

    $("#btnVehicleReset").on('click', function () {
        $("#VehPrsAdd").val("");
        $("#ddlVehGovAdd").data("kendoDropDownList").value(-1);
        $("#VehBoardnoAdd").data("kendoNumericTextBox").value(" ");
        $("#VehVinAdd").data("kendoNumericTextBox").value(" ");
        $("#VehEnginenoAdd").data("kendoNumericTextBox").value(" ");
        $("#ddlVehClsAdd").data("kendoDropDownList").value(-1);
        $("#VehColorAdd").val("");
        $("#VehWidthAdd").data("kendoNumericTextBox").value(" ");
        $("#VehLengAdd").data("kendoNumericTextBox").value(" ");
        $("#VehEnginesizeAdd").data("kendoNumericTextBox").value(" ");
        $("#VehProdyearAdd").data("kendoNumericTextBox").value(" ");
        $("#VehRegyearAdd").data("kendoNumericTextBox").value(" ");
        $("#VehBrandAdd").val("");
        $("#VehModelAdd").val("");
        $("#VehSeatsAdd").data("kendoNumericTextBox").value(" ");
        $("#dpVehLicenseAdd").val("");
    })

    $("#VehPrsAdd").on('click', function () {
        var wnd = $("#VehiclePersonSearchWindow").data("kendoWindow");
        wnd.center().open();
    })

    $("#PrsChoose").on('click', function (e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#VehiclePersonSearchWindow").data("kendoWindow");
        $("#VehPrsNb").val(dataItem.NB);
        $("#VehPrsAdd").val(dataItem.FNAME + " " + dataItem.LNAME);
        wnd.close();
    })

    $("#btnVehPersonSearch").on('click', function () {
        var perFname = $("#VehPerFname").val();
        var perLname = $("#VehPerLname").val();
        var perNatno = $("#VehPerNatno").val();
        var perFather = $("#VehPerFather").val();
        var perMother = $("#VehPerMother").val();
        var perBday = $("#VehPerBday").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("PersonFilter", "SchoolOwner")',
            data: {
                fname: perFname, lname: perLname, natno: perNatno,
                father: perFather, mother: perMother, bdatey: perBday
            },
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var grid = $("#VehPersonGrid").data("kendoGrid");
                grid.setDataSource(dataSource);
            },
        });
    })

    $("#btnVehPersonSearchNew").on('click', function () {
        var wnd = $("#AddVehPrsNew").data("kendoWindow");
        wnd.center().open();
    })

    $("#btnVehPersonSearchReset").on('click', function () {
        $("#VehPerNatno").val("");
        $("#VehPerFname").val("");
        $("#VehPerLname").val("");
        $("#VehPerFather").val("");
        $("#VehPerMother").val("");
        $("#VehPerBday").data("kendoNumericTextBox").value(" ");

        $("#btnPersonSearch").kendoButton({}).data("kendoButton").enable(true);
        $("#btnPersonNew").kendoButton({}).data("kendoButton").enable(true);
        var wnd = $("#OwnerPersonSearch").data("kendoWindow");
        wnd.element.find("span.k-tooltip-validation").hide();
    })

    $("#btnVehPersonNewSave").on('click', function () {
        var personModel = {
            FNAME: $("#txtVehPrsFname").val(),
            LNAME: $("#txtVehPrsLname").val(),
            FATHER: $("#txtVehPrsFather").val(),
            MOTHER: $("#txtVehPrsMother").val(),
            NATNO: $("#txtVehPrsNatno").val(),
            CIVILLOC: $("#txtVehPrsCivilloc").val(),
            ACTADDRESS: $("#txtVehPrsActaddress").val(),
            ADDRESS: $("#txtVehPrsAddress").val(),
            PHONE: $("#txtVehPrsPhone").val(),
            MOBILE: $("#txtVehPrsMobile").val(),
            BDATE: $("#dpVehPrsBdate").val(),
            IDCARDNO: $("#txtVehPrsIdcardno").val(),
            IDCARDDAT: $("#dpVehPrsIdcarddat").val(),
            BPLACE: $("#txtVehPrsBplace").val(),
            ALAMANA: $("#txtVehPrsAlamana").val(),
            SEX: $("#ddlVehPrsSex").val(),
            NAT: $("#ddlVehPrsNation").val(),
            TYP: $("#ddlVehPrsPertype").val()
        }
        var model = {
            "model": personModel
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create_getPrs", "zPerson", new { area = "Indexes" })',
            data: model,
            datatype: "json",
            success: function (response) {
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
                $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                    $("#success_msg").slideUp(500);
                });
                var wnd1 = $("#AddVehPrsNew").data("kendoWindow");
                wnd1.close();
                var wnd2 = $("#VehiclePersonSearchWindow").data("kendoWindow");
                wnd2.close();
                $("#VehPrsAdd").val(response.FNAME + " " + response.LNAME);
                $("#VehPrsNb").val(response.NB);
                //var grid = $('#grid').data('kendoGrid');
                //grid.dataSource.read();
            },
        });
    })

    $("#btnVehPersonNewReset").on('click', function () {
        $("#txtVehPrsFname").val("");
        $("#txtVehPrsLname").val("");
        $("#txtVehPrsFather").val("");
        $("#txtVehPrsMother").val("");
        $("#txtVehPrsNatno").data("kendoNumericTextBox").value(" ");
        $("#txtVehPrsCivilloc").val("");
        $("#txtVehPrsActaddress").val("");
        $("#txtVehPrsAddress").val("");
        $("#txtVehPrsPhone").data("kendoNumericTextBox").value(" ");
        $("#txtVehPrsMobile").data("kendoNumericTextBox").value(" ");
        $("#dpVehPrsBdate").data("kendoDatePicker").value("");
        $("#txtVehPrsIdcardno").data("kendoNumericTextBox").value(" ");
        $("#dpVehPrsIdcarddat").data("kendoDatePicker").value("");
        $("#txtVehPrsBplace").val("");
        $("#txtVehPrsAlamana").val("");
        $("#ddlVehPrsSex").data("kendoDropDownList").value(-1);
        $("#ddlVehPrsNation").data("kendoDropDownList").value(-1);
        $("#ddlVehPrsPertype").data("kendoDropDownList").value(-1);
    })

    $("#btnVehicleSave").on('click', function () {        
        var vehicle = {
            SCL_NB: $("#VehSclNb").val(),
            GOV_NB: $("#ddlVehGovAdd").val(),
            BOARDNO: $("#VehBoardnoAdd").val(),
            VIN: $("#VehVinAdd").val(),
            ENGINENO: $("#VehEnginenoAdd").val(),
            CLS_NB: $("#ddlVehClsAdd").val(),
            COLOR: $("#VehColorAdd").val(),
            WIDTH: $("#VehWidthAdd").val(),
            LENG: $("#VehLengAdd").val(),
            ENGINESIZE: $("#VehEnginesizeAdd").val(),
            PRODYEAR: $("#VehProdyearAdd").val(),
            REGYEAR: $("#VehRegyearAdd").val(),
            BRAND: $("#VehBrandAdd").val(),
            MODELNO: $("#VehModelAdd").val(),
            SEATS: $("#VehSeatsAdd").val(),
            PRS_NB: $("#VehPrsNb").val(),
            LICENSEEXPIRYDATE: $("#dpVehLicenseAdd").val()
        };
        var model = {
            "model": vehicle
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "SchoolVehicles")',
            data: model,
            dataType: "JSON",
            success: function (response) {
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
                $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                    $("#success_msg").slideUp(500);
                });
                var wnd1 = $("#AddVehicle").data("kendoWindow");
                wnd1.close();
                //var wnd2 = $("#SearchForVehicles").data("kendoWindow");
                //wnd2.close();
                var grid = $('#VehiclesGrid').data('kendoGrid');
                grid.dataSource.read();
            }
        });

    })
</script>
