@model IEnumerable<DrivingSclApp.Areas.Indexes.Data.CompanyVM>

@{
    ViewBag.Title = "الشركات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #grid {
        width: 2000px;
    }

</style>

<!-- Header -->
<div class="panel panel-default panel-search" style="width:2000px">
    <div class="panel-heading">
        <a class="h4" aria-expanded="false" aria-controls="filter_body" href="#filter_body" data-toggle="collapse">الشركات</a>
    </div>
    <div id="filter_body" class="collapse">
        <div class="panel-body">

        </div>
    </div>
</div>

<!-- Messages -->
@if (ViewBag.Alert == "Deleted")
{
    <div id="success_msg" class="bf-messages" role="alert" style="display:none">
        <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
            <a class="close" data-dissmiss="alert" href="#"></a>
            <span class="bf-messages">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <span style="color:green" class="bf-messages">
                    <span class="bf-messages">تم حذف السجل بنجاح </span>
                </span>
            </span>
        </div>
    </div>
}

<div id="success_msg" class="bf-messages" role="alert" style="display:none">
    <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#"></a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span style="color:green" class="bf-messages">
                <label id="labelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="error_msg" class="bf-messages" role="alert" style="display:none">
    <div class="alert fadein alert-danger" style="padding:15px;margin-top:10px;">
        <a class="close" data-dissmiss="alert" href="#">*</a>
        <span class="bf-messages">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span style="color:red" class="bf-messages">
                <label id="errlabelIdd"></label>
            </span>
        </span>
    </div>
</div>

<!-- Kendo -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Grid<DrivingSclApp.Areas.Indexes.Data.CompanyVM>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(command => { command.Custom("تعديل").Click("editDetails"); command.Destroy().Text("حذف"); }).Title("العمليات").Width(100);
                columns.Bound(c => c.NB).Visible(false).Width(50);
                columns.Bound(c => c.COMPNAME).Width(50);
                columns.Bound(c => c.COMREG_NO).Width(100);
                columns.Bound(c => c.COMREG_DATE).Width(100).Format("{0:dd/MM/yyyy}");
                columns.Bound(c => c.COMREG_TYP).Width(100);
                columns.Bound(c => c.COMREG_GOV).Visible(false).Width(100);
                columns.Bound(c => c.CTY_NB).Visible(false).Width(100);
                columns.Bound(c => c.REG_NB).Visible(false).Width(100);
                columns.Bound(c => c.ADDRESS).Width(100);
                columns.Bound(c => c.PHONE1).Width(100);
                columns.Bound(c => c.PHONE2).Width(100);
                columns.Bound(c => c.MOBILE).Width(100);
                columns.Bound(c => c.FAX).Width(100);
                columns.Bound(c => c.NOTE).Width(100);
                columns.Bound(c => c.GovName).Width(100);
                columns.Bound(c => c.CityName).Width(100);
                columns.Bound(c => c.RegionName).Width(100);
            })
            .HtmlAttributes(new { style = "height: 1000px;" })
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
                .PageSize(15)
                .Model(model => model.Id(p => p.NB))
                .Create(update => update.Action("Create", "zCompany"))
                .Read(read => read.Action("Read", "zCompany"))
                .Update(update => update.Action("Update", "zCompnay"))
                .Destroy(update => update.Action("Destroy", "zCompany"))
            )
            .Resizable(resize => resize
                .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("newAdd").Text("+ جديد ").Url("#").HtmlAttributes(new { id = "newAdd" });
            })
            .Pageable(pageable =>
            {
                pageable.Refresh(true);
                pageable.PageSizes(true);
            })
)
    </div>
</div>

<!-- Add -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("AddDetails")
        .Title("إضافة شركة")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:auto;" id="fieldlist">
                <form id="Addform">
                        <div id="save-container" @*class="k-edit-form-container"*@>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="editor-label">
                                            @Html.Label("الشركة", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtCompname")
                                                .HtmlAttributes(new { placeholder = "أدخل اسم الشركة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("رقم السجل التجاري", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtComreg_no")
                                                .HtmlAttributes(new { placeholder = "أدخل رقم السجل", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("تاريخ السجل التجاري", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DatePicker()
                                                .Name("dpComreg_date")
                                                .HtmlAttributes(new { placeholder = "أدخل تاريخ السجل", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                                .Format("{dd-mm-yyyy}")
                                            )
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("نوع السجل", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر نوع السجل")
                                            .Name("ddlComreg_typ")
                                            .DataTextField("Text")
                                            .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetComreg_Typ", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المحافظة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المحافظة")
                                            .Name("ddlComreg_gov")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetGovern", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e =>
                                            {
                                                e.Change("CityDataSource");
                                            })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المدينة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المدينة")
                                            .Name("ddlCty_nb")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCity", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e =>
                                            {
                                                e.Change("RegionDataSource");
                                            })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المنطقة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المنطقة")
                                            .Name("ddlReg_nb")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetRegion", "Codes");
                                                }).ServerFiltering(true);
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("العنوان", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtAddress")
                                                .HtmlAttributes(new { placeholder = "أدخل العنوان", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الهاتف الأول", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtPhone1")
                                                .HtmlAttributes(new { placeholder = "أدخل الهاتف الأول", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الهاتف الثاني", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtPhone2")
                                                .HtmlAttributes(new { placeholder = "أدخل الهاتف الثاني", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المحمول", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtMobile")
                                                .HtmlAttributes(new { placeholder = "أدخل المحمول", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الفاكس", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtFax")
                                                .HtmlAttributes(new { placeholder = "أدخل الفاكس", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("ملاحظات", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtNote")
                                                .HtmlAttributes(new { placeholder = "أدخل الملاحظة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px"></div>
                            <div class="k-edit-buttons k-state-default">
                                @(Html.Kendo().Button()
                                    .Name("btnSave")
                                    .Content("حفظ")
                                    .HtmlAttributes(new { type = "button", @class = "k-button k-primary", style = "height:35px;width:100px;" })
                                    .Events(e => e.Click("btnSave_Click"))
                                )
                                @(Html.Kendo().Button()
                                    .Name("btnReset")
                                    .Content("تراجع")
                                    .HtmlAttributes(new { type = "button", @class = "k-button k-button-icontext k-grid-cancel", style = "height:35px;width:100px;" })
                                    .Events(e => e.Click("btnReset_Click"))
                                )
                            </div>
                         </div>
                </form>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
            .Width(800)     //Set width of the window
            .Height(450)
        )
    </div>
</div>

<!-- Edit -->
<div id="IdivForm">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("EditDetails")
        .Title("تعديل بيانات شركة")
        .Visible(false)
        .Modal(true)
        .Content(@<text>
            <div style="width:95%;" id="fieldlist">
                <form id="Editform">
                    <div id="Update-container" @*class="k-edit-form-container"*@>
                        <div class="col-md-12">
                            @Html.Hidden("txtId")
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="editor-label">
                                            @Html.Label("الشركة", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtCompname1")
                                                .HtmlAttributes(new { placeholder = "أدخل اسم الشركة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("رقم السجل التجاري", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtComreg_no1")
                                                .HtmlAttributes(new { placeholder = "أدخل رقم السجل", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("تاريخ السجل التجاري", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DatePicker()
                                                .Name("dpComreg_date1")
                                                .HtmlAttributes(new { placeholder = "أدخل تاريخ السجل", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("نوع السجل", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر نوع السجل")
                                            .Name("ddlComreg_typ1")
                                            .DataTextField("Text")
                                            .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetComreg_Typ", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المحافظة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المحافظة")
                                            .Name("ddlComreg_gov1")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetGovern", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e =>
                                            {
                                                e.Change("CityDataSourceEdit");
                                            })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المدينة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المدينة")
                                            .Name("ddlCty_nb1")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCity", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e =>
                                            {
                                                e.Change("RegionDataSourceEdit");
                                            })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المنطقة :", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().DropDownList()
                                            .OptionLabel("اختر المنطقة")
                                            .Name("ddlReg_nb1")
                                            .DataTextField("Name")
                                            .DataValueField("Id").HtmlAttributes(new { required = "required", validationmessage = "*" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetRegion", "Codes");
                                                }).ServerFiltering(true);
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("العنوان", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtAddress1")
                                                .HtmlAttributes(new { placeholder = "أدخل العنوان", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الهاتف الأول", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtPhone1_1")
                                                .HtmlAttributes(new { placeholder = "أدخل الهاتف الأول", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الهاتف الثاني", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtPhone2_1")
                                                .HtmlAttributes(new { placeholder = "أدخل الهاتف الثاني", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("المحمول", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtMobile1")
                                                .HtmlAttributes(new { placeholder = "أدخل المحمول", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("الفاكس", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtFax1")
                                                .HtmlAttributes(new { placeholder = "أدخل الفاكس", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="editor-label">
                                            @Html.Label("ملاحظات", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="editor-field">
                                            @(Html.Kendo().TextBox()
                                                .Name("txtNote1")
                                                .HtmlAttributes(new { placeholder = "أدخل الملاحظة", required = "required", validationmessage = "*", @class = "form-control", style = "width: 100%" })
                                            )
                                        </div>
                                    </div>
                                </div>
                            <div class="row" style="margin-top:20px"></div>
                            <div class="k-edit-buttons k-state-default">
                                @(Html.Kendo().Button()
                                    .Name("btnUpdate")
                                    .Content("حفظ")
                                    .HtmlAttributes(new { type = "button", @class = "k-button k-primary", style = "height:35px;width:70px;" })
                                    .Events(e => e.Click("btnUpdate_Click"))
                                )
                                @(Html.Kendo().Button()
                                    .Name("btnUpdateReset")
                                    .Content("تراجع")
                                    .HtmlAttributes(new { type = "button", @class = "k-button k-primary", style = "height:35px;width:70px;" })
                                    .Events(e => e.Click("btnUpdateReset_Click"))
                                )
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </text>)
    .Draggable(true) //Enable dragging of the window
    .Actions(actions => actions.Pin().Minimize().Maximize().Close()).Resizable() //Enable resizing of the window
    .Width(800)     //Set width of the window
    .Height(450)
    )
    </div>
</div>


<script>
    // messages
    function OnRequestEnd(e) {
        if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            $('#success_msg').hide();
            $('#error_msg').show();
            $('#errlabelIdd').text(e.response.responseText);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    // when i press "add" from the grid
    $("#newAdd").click(function (e) {
        debugger
        e.preventDefault();
        $("#AddDetails").data("kendoWindow").center().open();
        $("#newAdd").show();
        $("#btnSave").kendoButton({}).data("kendoButton").enable(true);
    });

    // when i press "edit" on a row and to fill the fields of the edit window
    function editDetails(e) {
        debugger
        e.preventDefault();
        var wnd = $("#EditDetails").data("kendoWindow");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#txtId").val(dataItem.NB);
        $("#txtCompname1").val(dataItem.COMPNAME);
        $("#txtComreg_no1").val(dataItem.COMREG_NO);
        $("#ddlComreg_typ1").data("kendoDropDownList").value(dataItem.COMREG_TYP);
        $("#ddlComreg_gov1").data("kendoDropDownList").value(dataItem.COMREG_GOV);
        $("#ddlCty_nb1").data("kendoDropDownList").value(dataItem.CTY_NB);
        $("#ddlReg_nb1").data("kendoDropDownList").value(dataItem.REG_NB);
        $("#txtAddress1").val(dataItem.ADDRESS);
        $("#txtPhone1_1").val(dataItem.PHONE1);
        $("#txtPhone2_1").val(dataItem.PHONE2);
        $("#txtMobile1").val(dataItem.MOBILE);
        $("#txtFax1").val(dataItem.FAX);
        $("#txtNote1").val(dataItem.NOTE);

        $("#dpComreg_date1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.COMREG_DATE
        });

        $("#btnUpdate").kendoButton({}).data("kendoButton").enable(true);
        wnd.center().open();
    }

    // when i click save in add window
    function btnSave_Click() {
        debugger
        var validator = $("#save-container").kendoValidator().data("kendoValidator");
        if (validator.validate()) {

            var companyModel = {
                COMPNAME: $("#txtCompname").val(),
                COMREG_NO: $("#txtComreg_no").val(),
                COMREG_DATE: $("#dpComreg_date").val(),
                COMREG_TYP: $("#ddlComreg_typ").val(),
                COMREG_GOV: $("#ddlComreg_gov").val(),
                CTY_NB: $("#ddlCty_nb").val(),
                REG_NB: $("#ddlReg_nb").val(),
                ADDRESS: $("#txtAddress").val(),
                PHONE1: $("#txtPhone1").val(),
                PHONE2: $("#txtPhone2").val(),
                MOBILE: $("#txtMobile").val(),
                FAX: $("#txtFax").val(),
                NOTE: $("#txtNote").val(),
            }
            var model = {
                "model": companyModel
            }
            $.ajax({
                type: "POST",
                url: '/zCompany/Create', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                },

            });
            btnReset_Click();
            var wnd = $("#AddDetails").data("kendoWindow");
            wnd.center().close();
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.read();
            return true;
        }
        else {
            return false;
        }
    }

    // when i click reset in add window
    function btnReset_Click() {
        debugger
        $("#txtCompname").val("");
        $("#txtComreg_no").val("");
        $("#dpComreg_date").val("");
        $("#ddlComreg_typ").data("kendoDrobDownList").value(-1);
        $("#ddlComreg_gov").data("kendoDropDownList").value(-1);
        $("#ddlCty_nb").data("kendoDropDownList").value(-1);
        $("#ddlReg_nb").data("kendoDropDownList").value(-1);
        $("#txtAddress").val("");
        $("#txtPhone1").val("");
        $("#txtPhone2").val("");
        $("#txtMobile").val("");
        $("#txtFax").val("");
        $("#txtNote").val("");
        $("#btnSave").kendoButton({}).data("kendoButton").enable(true);
        var wnd = $("#AddDetails").data("kendoWindow");
        wnd.element.find("span.k-tooltip-validation").hide();
        return;
    }

    // when i press "reset" in edit window
    function btnUpdateReset_Click() {
        debugger

        var Id = $("#txtId").val();
        var dataItem = $("#grid").data("kendoGrid").dataSource.get(Id);
        $("#txtId").val(dataItem.NB);
        $("#txtCompname1").val(dataItem.COMPNAME);
        $("#txtComreg_no1").val(dataItem.COMREG_NO);
        $("#ddlComreg_typ1").data("kendoDropDownList").value(dataItem.COMREG_TYP);
        $("#ddlComreg_gov1").data("kendoDropDownList").value(dataItem.COMREG_GOV);
        $("#ddlCty_nb1").data("kendoDropDownList").value(dataItem.CTY_NB);
        $("#ddlReg_nb1").data("kendoDropDownList").value(dataItem.REG_NB);
        $("#txtAddress1").val(dataItem.ADDRESS);
        $("#txtPhone1_1").val(dataItem.PHONE1);
        $("#txtPhone2_1").val(dataItem.PHONE2);
        $("#txtMobile1").val(dataItem.MOBILE);
        $("#txtFax1").val(dataItem.FAX);
        $("#txtNote1").val(dataItem.NOTE);

        $("#dpComreg_date1").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: dataItem.COMREG_DATE
        });

        $("#btnUpdate").kendoButton({}).data("kendoButton").enable(true);
        return;
    }

    // when i press "update" in edit window
    function btnUpdate_Click() {
        debugger
        var validator = $("#Update-container").kendoValidator().data("kendoValidator");
        if (validator.validate()) {

            var companyModel = {
                NB: $("#txtId").val(),
                COMPNAME: $("#txtCompname1").val(),
                COMREG_NO: $("#txtComreg_no1").val(),
                COMREG_DATE: $("#dpComreg_date1").val(),
                COMREG_TYP: $("#ddlComreg_typ1").val(),
                COMREG_GOV: $("#ddlComreg_gov1").val(),
                CTY_NB: $("#ddlCty_nb1").val(),
                REG_NB: $("#ddlReg_nb1").val(),
                ADDRESS: $("#txtAddress1").val(),
                PHONE1: $("#txtPhone1_1").val(),
                PHONE2: $("#txtPhone2_1").val(),
                MOBILE: $("#txtMobile1").val(),
                FAX: $("#txtFax1").val(),
                NOTE: $("#txtNote1").val(),
            }
            var model = {
                "model": companyModel
            }
            $.ajax({
                type: "POST",
                url: '/zCompany/Update', data: model,
                datatype: "json",
                cache: false,
                success: function (response) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                },

            });
            btnReset_Click();
            var wnd = $("#EditDetails").data("kendoWindow");
            wnd.center().close();
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.read();
            return true;
        }
        else {
            return false;
        }
    }

    function CityDataSource() {
        var govern = $("#ddlComreg_gov").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCityByGovern", "Codes")',
            data: { govern: govern },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlCty_nb").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function RegionDataSource() {
        var city = $("#ddlCty_nb").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetRegionByCity", "Codes")',
            data: { city: city },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlReg_nb").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function CityDataSourceEdit() {
        var govern = $("#ddlComreg_gov1").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCityByGovern", "Codes")',
            data: { govern: govern },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlCty_nb1").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function RegionDataSourceEdit() {
        var city = $("#ddlCty_nb1").val()
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetRegionByCity", "Codes")',
            data: { city: city },
            dataType: "json",
            success: function (response) {
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                var dropdownlist = $("#ddlReg_nb1").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
