@model IEnumerable<DrivingSclApp.Areas.Indexes.Data.CompanyVM>

@{
    ViewBag.Title = "تفاصيل شركة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .alert-message {
        position: fixed;
        top: 30px;
        right: 16px;
        width: fit-content;
        
    }
    .box {
        width: fit-content;
        border: 1px solid red;
        background-color: rgba(109, 139, 255, 1);
        margin:auto;
    }
</style>

<!-- Header with the info of company-->
<div class="panel panel-default panel-search" style="width:auto">
    <div class="panel-heading">
        <a class="h4" aria-expanded="false" aria-controls="filter_body" href="#filter_body" data-toggle="collapse">تفاصيل شركة</a>
    </div>
    <div id="filter_body" class="toggle">
        <div class="container-fluid">
            @*<div class="row" style="margin:auto;">
                <div class="col-md-3" style="margin:auto;">
                    <dl class="dl-horizontal d-inline box">
                        <dt>اسم الشركة :</dt>
                        <dd>@Model.Select(x => x.COMPNAME).FirstOrDefault()</dd>
                        <dt>رقم السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_NO).FirstOrDefault()</dd>
                        <dt>تاريخ السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_DATE).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3" style="margin:auto;">
                    <dl class="dl-horizontal d-inline box">
                        <dt>نوع السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                        <dt>رمز مصدر السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline box">
                        <dt>المدينة :</dt>
                        <dd>@Model.Select(x => x.CityName).FirstOrDefault()</dd>
                        <dt>المنطقة :</dt>
                        <dd>@Model.Select(x => x.RegionName).FirstOrDefault()</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline box">
                        <dt>العنوان :</dt>
                        <dd>@Model.Select(x => x.ADDRESS).FirstOrDefault()</dd>
                        <dt>ملاحظات :</dt>
                        <dd>@Model.Select(x => x.NOTE).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline box">
                        <dt>الهاتف الاول :</dt>
                        <dd>@Model.Select(x => x.PHONE1).FirstOrDefault()</dd>
                        <dt>الهاتف الثاني :</dt>
                        <dd>@Model.Select(x => x.PHONE2).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline box">
                        <dt>المحمول :</dt>
                        <dd>@Model.Select(x => x.MOBILE).FirstOrDefault()</dd>
                        <dt>فاكس :</dt>
                        <dd>@Model.Select(x => x.FAX).FirstOrDefault()</dd>
                    </dl>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline">
                        <dt>اسم الشركة :</dt>
                        <dd>@Model.Select(x => x.COMPNAME).FirstOrDefault()</dd>
                        <dt>رقم السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_NO).FirstOrDefault()</dd>
                        <dt>تاريخ السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_DATE).FirstOrDefault()</dd>
                        <dt>نوع السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                        <dt>رمز مصدر السجل التجاري :</dt>
                        <dd>@Model.Select(x => x.COMREG_TYP).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline">
                        <dt>المدينة :</dt>
                        <dd>@Model.Select(x => x.CityName).FirstOrDefault()</dd>
                        <dt>المنطقة :</dt>
                        <dd>@Model.Select(x => x.RegionName).FirstOrDefault()</dd>
                        <dt>العنوان :</dt>
                        <dd>@Model.Select(x => x.ADDRESS).FirstOrDefault()</dd>
                        <dt>ملاحظات :</dt>
                        <dd>@Model.Select(x => x.NOTE).FirstOrDefault()</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal d-inline">
                        <dt>الهاتف الاول :</dt>
                        <dd>@Model.Select(x => x.PHONE1).FirstOrDefault()</dd>
                        <dt>الهاتف الثاني :</dt>
                        <dd>@Model.Select(x => x.PHONE2).FirstOrDefault()</dd>
                        <dt>المحمول :</dt>
                        <dd>@Model.Select(x => x.MOBILE).FirstOrDefault()</dd>
                        <dt>فاكس :</dt>
                        <dd>@Model.Select(x => x.FAX).FirstOrDefault()</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Messages -->
<div id="success_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-success" style="padding:15px;margin-top:10px;">
        <span class="bf-messages">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span style="color:green" class="bf-messages">
                <label id="labelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="error_msg" class="modal alert-message" role="alert" style="display:none">
    <div class="alert fadein alert-danger" style="padding:15px;margin-top:10px;">
        <span class="bf-messages">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span style="color:red" class="bf-messages">
                <label id="errlabelIdd"></label>
            </span>
        </span>
    </div>
</div>

<div id="deleteWindow">
    <div class="k-rtl">
        @(Html.Kendo().Window().Name("DeleteWindow")
        .Title("تأكيد حذف")
        .Visible(false)
        .Modal(true)
        .HtmlAttributes(new { style = "text-align:center;" })
        .Content(@<text>
            <div class="container-fluid" style="text-align:center;">
                <h3>هل أنت متأكد من الحذف؟</h3>
                <div class="row">
                    <button id="YesDelete" class="btn btn-default" style="width:100px;">نعم</button>
                    <button id="NoDelete" class="btn btn-default" style="width:100px;">لا</button>
                </div>
                <span id="validationRFC" class="k-label alert-danger"></span>
            </div>
        </text>)
        .Draggable(true) //Enable dragging of the window
        .Resizable() //Enable resizing of the window
        .Width(300)  //Set width of the window
        .Height(150)
        )
    </div>
</div>

<!-- TapStrip -->
<div id="IdivForm" class="container-fluid">
    <div class="row" style="margin:10px"></div>
    <div class="k-rtl">
        @(Html.Kendo().TabStrip()
        .Name("tabstrip")
        .TabPosition(TabStripTabPosition.Top)
        .HtmlAttributes(new { style = "height: auto;" })
        .Collapsible(true)
        .Navigatable(true)
        .Animation(animation =>
        {
            animation.Open(config =>
            {
                config.Fade(FadeDirection.In);
            });
        })
        .Items(items =>
        {
            items.Add().Text("مالكين").LoadContentFrom("Owner", "zCompanyOwner", new { id = ViewData["ID"] }).Selected(true);
        })
        )
    </div>
</div>

<script>
    // Messages
    function OnRequestEnd(e) {
        if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            $('#success_msg').show();
            $('#error_msg').hide();
            $('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            $('#success_msg').hide();
            $('#error_msg').show();
            $('#errlabelIdd').text(e.response.responseText);
        }
    }

    function sync_handler(e) {
        this.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $(".errorMessage").text(message);
            alert(message);
        }
    }

    function Destroy(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#DeleteWindow").data("kendoWindow");
        wnd.center().open();

        $("#YesDelete").on('click', function () {

            companyownerModel = {
                NB: dataItem.NB,
                COMP_NB: dataItem.COMP_NB,
                PRS_NB: dataItem.PRS_NB,
                JOBTITLE: dataItem.JOBTITLE,
                NOTE: dataItem.NOTE
            };

            var model = {
                "model": companyownerModel
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Destroy", "zCompanyOwner")',
                data: model,
                dataType: "JSON",
                success: function (response) {
                    if (response.success == true) {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                        wnd.close();
                        var grid = $('#OwnerGrid').data('kendoGrid');
                        grid.dataSource.read();
                    } else {
                        $('#success_msg').show();
                        $('#error_msg').hide();
                        $('#labelIdd').text(response.responseText);
                        $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                            $("#success_msg").slideUp(500);
                        });
                    }
                }
            });
        })

        $("#NoDelete").on('click', function () {
            wnd.close();
        })
    }

    function OwnerDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "GET",
            url: '@Url.Action("PrsById", "zPerson", new { area = "Indexes" })',
            data: { id: dataItem.PRS_NB },
            dataType: "json",
            success: function (response) {
                $("#txtDetailsFname").val(response.FNAME);
                $("#txtDetailsLname").val(response.LNAME);
                $("#txtDetailsFather").val(response.FATHER);
                $("#txtDetailsMother").val(response.MOTHER);
                $("#txtDetailsNatno").val(response.NATNO);
                $("#txtDetailsCivilloc").val(response.CIVILLOC);
                $("#txtDetailsActaddress").val(response.ACTADDRESS);
                $("#txtDetailsAddress").val(response.ADDRESS);
                $("#txtDetailsPhone").val(response.PHONE);
                $("#txtDetailsMobile").val(response.MOBILE);
                $("#txtDetailsIdcardno").val(response.IDCARDNO);
                $("#txtDetailsBplace").val(response.BPLACE);
                $("#txtDetailsAlamana").val(response.ALAMANA);
                $("#ddlDetailsSex").data("kendoDropDownList").value(response.SEX)
                $("#ddlDetailsNation").data("kendoDropDownList").value(response.NAT);
                $("#ddlDetailsPertype").data("kendoDropDownList").value(response.TYP);
                $("#dpDetailsBdate").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    value: response.BDATE
                })
                $("#dpDetailsIdcarddat").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    value: response.IDCARDDAT
                })
            },
        });
        var wnd = $("#OwnerDetails").data("kendoWindow");
        wnd.center().open();
    }

    // When i choose an owner from the search grid
    function FillPerson(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var name = dataItem.FNAME + " " + dataItem.LNAME;
        $("#comOwnper").val(name);
        $("#prsNb").val(dataItem.NB);
        var wnd = $("#OwnerPersonSearch").data("kendoWindow");
        wnd.center().close();
    }

    function ChoosePerson(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var scl = $("#comNb").val();
        //var own;

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var companyOwner = {
        //    COMP_NB : scl,
        //    PRS_NB: dataItem.NB,
        //}

        //var model = {
        //    "model": companyOwner
        //}
        var com = dataItem.COMP_NB;
        var prs = dataItem.PRS_NB;
        var job = dataItem.JOBTITLE;
        var note = dataItem.NOTE;

        companyownerModel = {
            COMP_NB: com,
            PRS_NB: prs,
            JOBTITLE: job,
            NOTE: note
        };

        var model = {
            "model": companyownerModel
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "zCompanyOwner")',
            data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                if (response.success == true) {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                    var wnd = $("#OwnerPersonSearch").data("kendoWindow");
                    wnd.center().close();
                    var grid = $('#OwnerGrid').data('kendoGrid');
                    grid.dataSource.read();
                } else {
                    $('#success_msg').show();
                    $('#error_msg').hide();
                    $('#labelIdd').text(response.responseText);
                    $("#success_msg").fadeTo(3000, 500).slideUp(500, function () {
                        $("#success_msg").slideUp(500);
                    });
                }
            }
        });
    }

    function ResetAll() {
        $("#txtFname").val("");
        $("#txtLname").val("");
        $("#txtFather").val("");
        $("#txtMother").val("");
        $("#txtNatno").val("");
        $("#txtCivilloc").val("");
        $("#txtActaddress").val("");
        $("#txtAddress").val("");
        $("#txtPhone").val("");
        $("#txtMobile").val("");
        $("#txtBdated").val("");
        $("#txtBdatem").val("");
        $("#txtBdatey").val("");
        $("#dpBdate").val("");
        $("#txtIdcardno").val("");
        $("#dpIdcarddat").val("");
        $("#txtBplace").val("");
        $("#txtAlamana").val("");
        $("#ddlSex").data('kendoDropDownList').value(-1);
        $("#ddlNation").data('kendoDropDownList').value(-1);
        $("#ddlPertype").data('kendoDropDownList').value(-1);

        $("#perNatno").data("kendoNumericTextBox").value(" ");
        $("#perFname").val("");
        $("#perLname").val("");
        $("#perFather").val("");
        $("#perMother").val("");
        $("#perBday").val("");

        $("#comOwnper").val("");
        $("#comJobtitle").val("");
        $("#comNote").val("");

        $("#personGrid").data("kendoGrid").dataSource.data([]);
    }

    // When i want to add a new owner
    function SaveNewOwner() {

        var com = $("#comNb").val();
        var prs = $("#prsNb").val();
        var job = $("#comJobtitle").val();
        var note = $("comNote").val();

        companyownerModel = {
            COMP_NB: com,
            PRS_NB: prs,
            JOBTITLE: job,
            NOTE: note
        };

        var model = {
            "model": companyownerModel
        };

        $.ajax({
            type: 'POST',
            url: '/zCompanyOwner/Create', data: model,
            datatype: "json",
            cache: false,
            success: function (response) {
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
                $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                    $("#success_msg").slideUp(500);
                });
                $("#comOwnper").val("");
                $("#comJobtitle").val("");
                var grid = $('#OwnerGrid').data('kendoGrid');
                grid.dataSource.read();
                ResetAll();
            }
        });
    }

    function SaveNewOwnerPerson() {
        $.when(SaveNewPerson()).done(function (s1) {
            var name = s1.FNAME + " " + s1.LNAME;
            $("#comOwnper").val(name);
            $("#prsNb").val(s1.NB);
            var wnd1 = $("#AddPerson").data("kendoWindow");
            wnd1.center().close();
            var wnd2 = $("#OwnerPersonSearch").data("kendoWindow");
            wnd2.center().close();
        });
    }

    function SaveNewPerson() {
        
        var personModel = {
            FNAME: $("#txtFname").val(),
            LNAME: $("#txtLname").val(),
            FATHER: $("#txtFather").val(),
            MOTHER: $("#txtMother").val(),
            NATNO: $("#txtNatno").val(),
            CIVILLOC: $("#txtCivilloc").val(),
            ACTADDRESS: $("#txtActaddress").val(),
            ADDRESS: $("#txtAddress").val(),
            PHONE: $("#txtPhone").val(),
            MOBILE: $("#txtMobile").val(),
            BDATED: $("#txtBdated").val(),
            BDATEM: $("#txtBdatem").val(),
            BDATEY: $("#txtBdatey").val(),
            BDATE: $("#dpBdate").val(),
            IDCARDNO: $("#txtIdcardno").val(),
            IDCARDDAT: $("#dpIdcarddat").val(),
            BPLACE: $("#txtBplace").val(),
            ALAMANA: $("#txtAlamana").val(),
            SEX: $("#ddlSex").val(),
            NAT: $("#ddlNation").val(),
            TYP: $("#ddlPertype").val()
        }
        var model1 = {
            "model": personModel
        }
        return $.ajax({
            type: "POST",
            url: '@Url.Action("Create_getPrs", "zPerson", new { area = "Indexes" })',
            data: model1,
            datatype: "json",
            cache: false,
            success: function (response) {
            },
        });
    }
</script>
