@model IEnumerable<DrivingSclApp.Areas.Schools.Data.SchoolVM>

<!-- Header -->
<div class="container" style="text-align:center;">
    <!-- Hidden Fields -->
    <div class="hidden">
        <div class="editor-label">
            @Html.Label("اسم المدرسة", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="editor-field">
            @(Html.Kendo().NumericTextBox()
                .Name("sclNb").Enable(false)
                .Value(Model.Select(x => x.NB).FirstOrDefault())
                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
            )
        </div>
    </div>
    <!-- the info that the user will fill -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.Label("رقم الهاتف", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().TextBox()
                .Name("SclPhone")
                .HtmlAttributes(new { placeholder = "أدخل رقم الهاتف", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                )
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    @Html.Label("نوع الهاتف", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="editor-field">
                    @(Html.Kendo().DropDownList()
                .OptionLabel("اختر نوع الهاتف")
                .Name("ddlPhoneTyp")
                .DataTextField("Text")
                .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPhoneTyp", "Codes" , new { area = "indexes" });
                    });
                })
                .HtmlAttributes(new { style = "width: 100%; text-align:cetner;" })
                )
                </div>
            </div>
        </div>
        <div class="row" style="margin:10px;"></div>
        <!-- Buttons -->
        <div class="row" style="text-align:center;">
            @(Html.Kendo().Button()
            .Name("btnPhoneSave")
            .Content("حفظ")
            .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:100px;" })
        )
            @(Html.Kendo().Button()
            .Name("btnPhoneReset")
            .Content("تراجع")
            .HtmlAttributes(new { type = "button", @class = "btn btn-danger", style = "height:35px;width:100px;" })
        )
        </div>
        <div class="row" style="margin:10px;"></div>
    </div>
</div>

<!-- Phones Grid -->
<div class="container-fluid">
    <div id="IdivForm">
        <div class="k-rtl">
            @(Html.Kendo().Grid<DrivingSclApp.Areas.Schools.Data.SclPhoneVM>()
            .Name("PhonesGrid")
            .Columns(columns =>
            {
                columns.Command(command => { command.Custom("حذف").Click("DestroyPhone").HtmlAttributes(new { @class = "btn btn-danger" }); }).Title("العمليات").HtmlAttributes(new { style = "width:75px;" });
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.SCL_NB).Visible(false);
                columns.Bound(c => c.PHONE_TYP).Visible(false);
                columns.Bound(c => c.SCL_NAME).Visible(false).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.PHONE_NO).HtmlAttributes(new { style = "width:auto;" });
                columns.Bound(c => c.PHONE_TYPE).HtmlAttributes(new { style = "width:auto;" });
            })
            .HtmlAttributes(new { style = "height: auto;" })
            .Sortable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("PhonesBySclNb", "SclPhone", new { id = ViewData["ID"] }))
            .Destroy(update => update.Action("Destroy", "SclPhone")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .Pageable(pageable =>
            {
                pageable.Refresh(true);
                pageable.PageSizes(true);
            })
            )
        </div>
    </div>
</div>

<script>
    $("#btnPhoneReset").on('click', function () {
        $("#SclPhone").val("");
        $("#ddlPhoneTyp").data("kendoDropDownList").value(-1);

        $("#btnPhoneSave").kendoButton({}).data("kendoButton").enable(true);
    })

    $("#btnPhoneSave").on('click', function () {
        var scl = $("#sclNb").val();
        var phone = $("#SclPhone").val();
        var phonetyp = $("#ddlPhoneTyp").val();

        var phone = {
            SCL_NB: scl,
            PHONE_NO: phone,
            PHONE_TYP: phonetyp
        };

        var model = { "model": phone };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "SclPhone")',
            data: model,
            dataType: "JSON",
            success: function (response) {
                var grid = $('#PhonesGrid').data('kendoGrid');
                grid.dataSource.read();
                $('#success_msg').show();
                $('#error_msg').hide();
                $('#labelIdd').text(response.responseText);
                $("#success_msg").fadeTo(2000, 500).slideUp(500, function () {
                    $("#success_msg").slideUp(500);
                });
                ResetAllPhones();
            },
        });
    })
</script>